<div class="sidebar" [class.active]="isSidebarActive">
  <div class="sidebar-header">
    <img src="assets/img/image 4.png">
  </div>
  <div class="user-info">
    <p>Umberto León Dominguez</p>
  </div>
  <nav class="nav-menu">
    <a routerLink="/lista-pacientes" routerLinkActive="active" class="nav-link">Pacientes</a>
    <a routerLink="/ver-paciente" routerLinkActive="active" class="nav-link">Ver Paciente</a>
    <a routerLink="/graficas-paciente" routerLinkActive="active" class="nav-link">Gráficas Paciente</a>
    <a routerLink="/lista-psicologos" routerLinkActive="active" class="nav-link">Psicólogos</a>
    <a (click)="logout()" class="nav-link">Cerrar sesión</a>
    <!-- se tiene que borrar el sesion/local storage para borrar el token y hacer logout -->
  </nav>
</div>

<button (click)="toggleSidebar()" class="sidebar-toggle">Menu</button>


