<div class="sidebar" [class.active]="isSidebarActive">
  <div class="sidebar-header">
    <img src="assets/img/image 4.png">
  </div>
  <div class="user-info">
    <!-- Utiliza el operador de navegación segura (?) para acceder a las propiedades del objeto userInfo -->
    <p>{{ userInfo?.nombre }} {{ userInfo?.apellidos }}</p>
  </div>
  
  <nav class="nav-menu">
    <a routerLink="/lista-pacientes" routerLinkActive="active" class="nav-link">Pacientes</a>
    <a routerLink="/editar-paciente" routerLinkActive="active" class="nav-link">Ver paciente</a>
    <a routerLink="/graficas-paciente" routerLinkActive="active" class="nav-link">Sesiones del paciente</a>
    <a routerLink="/medicamentos" routerLinkActive="active" class="nav-link">Medicamentos</a>
    <!-- Utiliza *ngIf para condicionar la visualización de este enlace basado en el id_rol del usuario -->
    <a *ngIf="userInfo?.id_rol === 1" (click)="navigateTo('lista-psicologos')" routerLinkActive="active" class="nav-link">Psicólogos</a>
    <a (click)="logout()" class="nav-link">Cerrar sesión</a>
  </nav>
</div>

<button (click)="toggleSidebar()" class="sidebar-toggle">Menu</button>