.container{
    display: flex;
    flex-direction: row;
  }
.graphs-container {
    flex: 1;
    padding: 20px;
    margin: 1rem 17rem auto; // Centrado en la página
    max-width: 100%; // Ancho máximo
    width: 100%; // Asegura que se ajuste al contenedor padre
    background-color: #fff;
    justify-content: right;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    @media (max-width: 768px) {
      width: auto; // Ocupa el ancho completo en pantallas pequeñas
      margin: 10px; // Margen reducido para pantallas pequeñas
      max-width: none;
    }
    .tab-menu {
      .tab {
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        background-color: #333;
        border: none;
        border-bottom: 3px solid transparent;
        cursor: pointer;
  
        &.active {
          border-bottom-color: #333;
          background-color: yellow;
          color: #333;
        }
  
        &:hover {
          background-color: darken(#a2a2a2, 5%);
        }
      }
    }
  .search-box {
  position: relative;
  width: 100%; /* o la anchura que desees para tu barra de búsqueda */
}

input[type="search"] {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Hacer espacio para el ícono */
}


.space1{
  height: .5rem;
}

.space{
  height: 8rem;
}

.search-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #aaa;
}

    .search-upload-section {
      margin: 1rem 0;
  
      input[type="search"] {
        padding: 0.5rem;
        margin-right: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        width: 30%;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    
        button {  
          padding: 0.7rem;
          border: 1px solid #ccc;
          border-radius: 4px;      
          &:hover {
            background-color: #333;
          }
        }
      }
    }
  
    .tab-content {
      border: 1px solid #ccc;
      padding: 1rem;
      // Further styles for tab content based on your design
    }
  }
  