<div class="container">
<app-menu-lateral></app-menu-lateral>
<div class="graphs-container">
    <h1>Visualizador de Electroencefalograma</h1>
    <app-info-paciente></app-info-paciente>
    <div class="search-upload-section">
        <!-- <input type="search" placeholder="Nombre del Paciente" (input)="searchPatient($event.target.value)"> -->
        <input type="search" placeholder="Nombre del Paciente">
        <button (click)="uploadEEG()">Subir nuevo EEG</button>
      </div>
    <div class="tab-menu">
      <button class="tab" (click)="setActiveTab('contentEEG')" [class.active]="activeTab === 'contentEEG'">Contenido EEG</button>
      <button class="tab" (click)="setActiveTab('sessions')" [class.active]="activeTab === 'sessions'">Sesiones</button>
      <button class="tab" (click)="setActiveTab('preDiagnostic')" [class.active]="activeTab === 'preDiagnostic'">Pre-diagnóstico</button>
    </div>
    <div class="tab-content">
      <!-- Content based on the active tab -->
      <div *ngIf="activeTab === 'contentEEG'">
        <h2>Contenido de EEG</h2>
        <div id="eeg" style="width:100%; height:400px;"></div>
        <div id="processed" style="width:100%; height:400px;"></div>
      </div>
      <div *ngIf="activeTab === 'sessions'">Contenido de Sesiones</div>
      <div *ngIf="activeTab === 'preDiagnostic'">Contenido de Pre-diagnóstico</div>
    </div>
  </div>
</div>