@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@fortawesome/fontawesome-free/css/all.css";

$bg: #313841;
$red: #F34541;
$black: #1D242B;
$green: #38B87C;
$blue: #2492FF;

.container{
    display: flex;
    flex-direction: row;
    width: 100rem;
    max-width: 100rem;
    position: relative;
  }

.graphs-container {
    flex: 1;
    padding: 20px;
    margin: 3rem 8rem 0rem 17rem;
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    justify-content: right;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    @media (max-width: 768px) {
      width: auto;
      margin: 10px;
      max-width: none;
    }

    .header {
      display: flex;
      align-items: center;
      width: 100%;
      align-items: baseline;
      padding: 0;
    }
    
    .right {
      display: flex;
      align-items: center;
    }
    
    .left {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
      align-items: baseline;
    }

    p{
      font-size: 1.1rem;
    }
    
    .editor-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem;
    }
    
    .header h1 {
      margin: 0;
      font-size: 1.5rem;
      align-items: baseline;
    }

    .regresar, .add, .button-agregar, .save{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      border: none;
      font-size: 1.5rem;
      background-color: transparent;
      margin: 0.5rem;
      cursor: pointer;
    }
      .regresar {
        color: $bg;
        &:hover {
        background-color: $blue;
        color: white;
        .text { color: white; }
      }
    }
    .save {
      color: $bg;
      &:hover {
      background-color: $green;
      color: white;
      .text { color: white; }
    }
  }
      .add {
        color: white;
        background-color: $blue !important;
        margin-right: 10px;
        &:hover {
        background-color: darken($blue, 10%);
        color: white;
        .text { color: white; }
      }
    }
    .button-agregar {
      color: $bg;
      margin-right: 10px;
      &:hover {
      background-color: $blue;
      color: white;
      .text { color: white; }
    }
  }
      input[type="search"] {
        padding: 0.5rem;
        margin-right: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        width: 30%;
      }

    }
    .fecha-consulta-seccion {
       position: relative;
       margin: 1rem 1rem 1rem 0;
       select {
         width: 100%;
         padding: 10px 15px 10px 15px;
         border: 1px solid #ddd;
         border-radius: 4px;
         appearance: none;
         background-color: #fff;
         font-size: 16px;
         padding-right: 40px;
         &:focus {
           outline: none;
           border-color: #aaa;
         }
         option {
           color: #666;
         }
        
         option:disabled {
           color: #999;
         }
       }
       .fa-sort-desc {
         position: absolute;
         top: 50%;
         right: 15px;
         pointer-events: none;
         transform: translateY(-50%);
         font-size: 16px;
         color: #333;
       }
     }
     .seccion{
      margin-bottom: 20px;
      border-radius: 8px;
      background-color: white;
      padding: 1rem;
    }  
    .botones-container {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
    }
    .seccionInicial{
      margin-bottom: 20px;
      border-radius: 8px;
      //width: 98%;
      background-color: white;
      padding: 1.5rem;
    }  
    .search-container {
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 20px;
      padding: 0.5rem 3rem;
      margin-left: 2rem;
      width: 100%;
      .search-icon {
        position: absolute;
        left: 1.5rem;
        color: #5F6368;
        font-size: 1rem;
      }
      .search-input {
        flex-grow: 1;
        border: none;
        outline: none;
        background-color: transparent;
        padding-left: 2.5rem;
        height: 100%;
        border-radius: 20px;
        border: solid #F1F3F4;
        background-color: white;
        width: 100%;
        &::placeholder {
          color: #5F6368;
        }
        &:focus {
          box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.5);
        }
      }
    }

    .search{
      padding: 1rem;
    }

    .dropdown {
      position: relative;
      margin: 1rem 1rem 1rem 0;
      width: 50%;
      padding: 10px 15px 15px 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      select {
        width: 100%;
        padding: 10px 15px 10px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
        font-size: 16px;
          &:focus {
              outline: none;
              border-color: #888;
          }
  
          option {
              color: #333;
          }
  
          option:disabled {
              color: #ccc;
          }
      }
  
      &:after {
          content: '\25BC';
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          color: #333;
          font-size: 14px;
      }
  
      &:focus-within:after {
          content: '\25B2';
      }
  }  
  
    .table-container {
      overflow-y: auto;
      max-height: 61vh;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
        vertical-align: middle;
        
        input, select, button {
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
      th {
        background-color: #bbbdf6;
      }
    }

    // Botones de acción
  .button-eliminar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  margin: 0.5rem;
  cursor: pointer;

  .icon {
    font-size: 1.5rem;
    color: $bg;
    margin-right: 0.5rem;
    margin-left: 0.25rem;
  }

  .text {
    display: block;
    opacity: 1;
  }

  &.confirm {
    .icon.fas.fa-trash { display: none; }
    .icon.fas.fa-question-circle {
      display: inline-block;
      color: white;
    }
    .icon.fas.fa-check-circle { display: none; }
    background-color: $blue;
    .text { color: white; }
  }

  &.done {
    .icon.fas.fa-trash { display: none; }
    .icon.fas.fa-question-circle { display: none; }
    .icon.fas.fa-check-circle {
      display: inline-block;
      color: white;
    }
    background-color: $green;
    .text { color: white; }
  }

  &.delete-initiated:not(.confirm):not(.done) {
    background-color: $red;
    .icon.fas.fa-trash {
      display: inline-block;
      color: white;
    }
    .text { color: white; }
  }

  &:not(.confirm):not(.done):hover {
    background-color: $red;
    .icon.fas.fa-trash {
      display: inline-block;
      color: white;
    }
    .text { color: white; }
  }
}
      .nota-psicologo-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      }
      
      .nota-editor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      
      .nota-textarea {
        width: 100%;
        height: 10rem;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        resize: none;
      }
      
      .nota-textarea:focus {
        outline: none;
        border-color: #999;
      }

    .tab-menu {
      .tab{
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        background-color: transparent;
        border: none;
        color: #333;
        cursor: pointer;
        font-size: medium;
  
        &.active {
          border-bottom: 3px solid #7353ba !important;
          font-weight: bold;
          color: #333;
        }
  
        &:hover {
          background-color:#bbbdf6;
        }
      }
    }
  
    .tab-content {
      background-color: #ebebfc;
      border-radius: 8px;
      padding: 1rem;
    }

    .grid {
      display: flex;
      margin: 2rem;
      gap: 20px; // Añade un espacio entre cada gráfico para una mejor separación visual
    
      > div {
        width: 50%;
        float: center;
      }
    }