@import "@fortawesome/fontawesome-free/css/all.css";

.container{
    display: flex;
    flex-direction: row;
  }
.graphs-container {
    flex: 1;
    padding: 20px;
    margin: 1rem 17rem auto; // Centrado en la página
    max-width: 100%; // Ancho máximo
    width: 100%; // Asegura que se ajuste al contenedor padre
    background-color: #fff;
    justify-content: right;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    @media (max-width: 768px) {
      width: auto; // Ocupa el ancho completo en pantallas pequeñas
      margin: 10px; // Margen reducido para pantallas pequeñas
      max-width: none;
    }
    .headerButton{
      display: flex !important;
      justify-content: flex-end !important;
      margin-left: 75%;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      input[type="search"] {
        padding: 0.5rem;
        margin-right: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        width: 30%;
      }
    }
    .fecha-consulta-seccion {
      position: relative;
      margin: 1rem;
      select {
        width: 100%;
        padding: 10px 15px 10px 15px; // Ajusta el padding según necesites
        border: 1px solid #ddd; // Un borde gris claro
        border-radius: 4px; // Bordes redondeados
        appearance: none; // Esto elimina la flecha nativa del dropdown
        background-color: #fff; // Fondo blanco
        font-size: 16px; // Tamaño de la fuente a tu gusto
        // Ajusta el padding derecho para hacer espacio para el icono
        padding-right: 40px; // Asegúrate de tener suficiente espacio para el icono
        &:focus {
          outline: none;
          border-color: #aaa; // Cambia el color del borde cuando está enfocado
        }
        option {
          color: #666; // Cambia el color del texto de las opciones
        }
        
        option:disabled {
          color: #999;
        }
      }
      // Agregar el icono de FontAwesome con una clase
      .fa-sort-desc {
        position: absolute;
        top: 50%;
        right: 15px;
        pointer-events: none; // Asegura que el icono no interfiera con el clic en el select
        transform: translateY(-50%);
        font-size: 16px; // Ajusta el tamaño del icono según necesites
        color: #333; // El color del icono
      }
    }    
    .search-container {
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 20px; // Bordes redondeados para el contenedor de búsqueda
      padding: 0.5rem 3rem; // Espaciado interno alrededor del input
      margin-left: 2rem;
      width: 100%; // Ancho completo para el contenedor de búsqueda
      .search-icon {
        position: absolute;
        left: 1.5rem; // Alinea el ícono de búsqueda dentro del padding del contenedor
        color: #5F6368; // Color del ícono
        font-size: 1rem; // Tamaño del ícono
      }
      .search-input {
        flex-grow: 1; // Permite que el input crezca para llenar el espacio
        border: none; // Elimina el borde del input
        outline: none; // Elimina el contorno cuando está enfocado
        background-color: transparent; // Fondo transparente para el input
        padding-left: 2.5rem; // Espacio para el ícono de búsqueda
        height: 100%; // Altura para llenar el contenedor de búsqueda
        border-radius: 20px; // Bordes redondeados para el input
        border: solid #F1F3F4;
        width: 100%;
        &::placeholder {
          color: #5F6368; // Color para el placeholder
        }
        &:focus {
          // Estilos opcionales para cuando el input está enfocado
          box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.5); // Un sutil contorno azul alrededor del input
        }
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
        vertical-align: middle;
        
        // Estilos para los elementos dentro de las celdas
        input, select, button {
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
      th {
        background-color: #f2f2f2;
      }
    }
    .tab-menu {
      .tab {
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        background-color: #333;
        border: none;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        &.active {
          border-bottom-color: #333;
          background-color: yellow;
          color: #333;
        }
        &:hover {
          background-color: darken(#a2a2a2, 5%);
        }
      }
    }
// input[type="search"] {
//   width: 100%;
//   padding: 10px;
//   padding-right: 40px; /* Hacer espacio para el ícono */
// }


// .space1{
//   height: .5rem;
// }

// .space{
//   height: 8rem;
// }

// .search-icon {
//   position: absolute;
//   top: 0;
//   right: 0;
//   padding: 10px;
//   color: #aaa;
// }

//     .search-upload-section {
//       margin: 1rem 0;
  
//       input[type="search"] {
//         padding: 0.5rem;
//         margin-right: 1rem;
//         border: 1px solid #ccc;
//         border-radius: 0.25rem;
//         width: 30%;
//       }
//       .header {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         margin-bottom: 20px;
    
//         button {  
//           padding: 0.7rem;
//           border: 1px solid #ccc;
//           border-radius: 4px;      
//           &:hover {
//             background-color: #333;
//           }
//         }
//       }
//     }
    .tab-content {
      border: 1px solid #ccc;
      padding: 1rem;
      // Further styles for tab content based on your design
    }
  }