.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    h1 {
        color: #333;
        text-align: left;
        margin-bottom: 2rem;
    }
    button{
        background-color: #333333;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        color: white;
        border: none;
        border-radius: 5px;
            cursor: pointer;
            
            &:hover {
            background-color: black;
            color: white;
            }
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toggle-active {
    --color-checked: #5AAF45 !important; /* Color verde cuando está activo */
    --color-unchecked: #bbb !important; /* Color gris cuando está desactivado */
  }
  
  /* Estilos para cambiar el color de fondo del mat-slide-toggle cuando está activo */
  .toggle-active .mat-slide-toggle-thumb {
    background-color: var(--color-checked) !important;
  }
  
  /* Estilos para cambiar el color de la barra cuando está activo */
  .toggle-active .mat-slide-toggle-bar {
    background-color: var(--color-unchecked) !important;
  }
  