@import "@fortawesome/fontawesome-free/css/all.css";

$bg: #313841;
$red: #F34541;
$black: #1D242B;
$green: #38B87C;
$blue: #2492FF;

.container{
    font-family: Arial, Helvetica, sans-serif;
}
    h1 {
        color: #333;
        text-align: left;
        margin-bottom: 2rem;
        font-size: large;
    }
    label{
      font-size: medium;
    }
    th{
      font-size: medium;
    }
    a{
      font-size: medium;
    }
    button{
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        color: white;
        border: none;
        border-radius: 5px;
            cursor: pointer;
            &:hover {
            background-color: $bg;
            color: white;
            }
    }
.icon{
    font-size: 1.5rem;
}
