<h2 mat-dialog-title>Crear nuevo medicamento</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <!-- Nombre Comercial -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre comercial</mat-label>
      <input matInput [(ngModel)]="medicamento.nombre_comercial" name="nombreComercial" placeholder="Ej: Ibuprofeno">
    </mat-form-field>

    <!-- Principio Activo -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Principio activo</mat-label>
      <input matInput [(ngModel)]="medicamento.principio_activo" name="principioActivo" placeholder="Ej: Ibuprofeno">
    </mat-form-field>

    <!-- Presentación -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Presentación</mat-label>
      <input matInput [(ngModel)]="medicamento.presentacion" name="presentacion" placeholder="Ej: 400mg Tabletas">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-button [mat-dialog-close]="false" color="primary" (click)="crearMedicamento()">Crear</button>
</mat-dialog-actions>
