<!-- <head>
        <title>Visualización de Datos EEG</title>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <body>
        <select [(ngModel)]="selectedArea" (change)="onAreaChange($event)">
            <option value="Frontal izq">Frontal izq</option>
            <option value="Frontal der">Frontal der</option>
            <option value="Frontal centro">Frontal centro</option>
            <option value="Central">Central</option>
            <option value="Temporal izq">Temporal izq</option>
            <option value="Temporal der">Temporal der</option>
            <option value="Parietal izq">Parietal izq</option>
            <option value="Parietal der">Parietal der</option>
            <option value="Parietal centro">Parietal centro</option>
            <option value="Occipital izq">Occipital izq</option>
            <option value="Occipital der">Occipital der</option>
        </select>
        <div id="deltaChart" [highcharts]="charts['Delta']"></div>
        <div id="thetaChart" [highcharts]="charts['Theta']"></div>
        <div id="alphaChart" [highcharts]="charts['Alpha']"></div>
        <div id="betaChart" [highcharts]="charts['Beta']"></div>
        <div id="gammaChart" [highcharts]="charts['Gamma']"></div>
    </body> -->
<!-- Angular Template for EEG Data Visualization -->
<select [(ngModel)]="selectedArea" (change)="onAreaChange($event)">
    <option value="Frontal izq">Frontal izq</option>
    <option value="Frontal der">Frontal der</option>
    <option value="Frontal centro">Frontal centro</option>
    <option value="Central">Central</option>
    <option value="Temporal izq">Temporal izq</option>
    <option value="Temporal der">Temporal der</option>
    <option value="Parietal izq">Parietal izq</option>
    <option value="Parietal der">Parietal der</option>
    <option value="Parietal centro">Parietal centro</option>
    <option value="Occipital izq">Occipital izq</option>
    <option value="Occipital der">Occipital der</option>
</select>

<div class="charts-row">
    <highcharts-chart *ngFor="let chartKey of chartKeys"
        [Highcharts]="highcharts"
        [options]="charts[chartKey]">
    </highcharts-chart>
</div>
