// Importaciones
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@fortawesome/fontawesome-free/css/all.css";

// Definición de colores y estilos base
$bg: #313841;
$red: #F34541;
$black: #1D242B;
$green: #38B87C;
$blue: #2492FF;

body {
  background: $bg;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.table-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px;
  font-size: 0.875rem;
  width: 100%;
  box-sizing: border-box;
}

.table-select {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 4px;
  font-size: 0.875rem;
  width: 100%;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px; // Bordes redondeados para el contenedor de búsqueda
  padding: 0.5rem 3rem; // Espaciado interno alrededor del input
  margin-left: 2rem;
  width: 100%; // Ancho completo para el contenedor de búsqueda

  .search-icon {
    position: absolute;
    left: 1rem; // Alinea el ícono de búsqueda dentro del padding del contenedor
    color: #5F6368; // Color del ícono
    font-size: 1rem; // Tamaño del ícono
  }

  .search-input {
    flex-grow: 1; // Permite que el input crezca para llenar el espacio
    border: none; // Elimina el borde del input
    outline: none; // Elimina el contorno cuando está enfocado
    background-color: transparent; // Fondo transparente para el input
    padding-left: 2.5rem; // Espacio para el ícono de búsqueda
    height: 100%; // Altura para llenar el contenedor de búsqueda
    border-radius: 20px; // Bordes redondeados para el input
    border: solid #F1F3F4;
    width: 100%;

    &::placeholder {
      color: #5F6368; // Color para el placeholder
    }

    &:focus {
      // Estilos opcionales para cuando el input está enfocado
      box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.5); // Un sutil contorno azul alrededor del input
    }
  }
}
.editButton, .saveButton, .cancelEditButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-right: 0.5rem;
  gap: 0.5rem;
}

.editButton {
  background-color: $blue;
  color: white;
  &:hover {
    background-color: darken($blue, 10%) !important;
  }
}

.saveButton {
  background-color: $green;
  color: white;
  &:hover {
    background-color: darken($green, 10%) !important;
  }
}

.cancelEditButton {
  background-color: $red;
  color: white;
  &:hover {
    background-color: darken($red, 10%) !important;
  }
}

.registerButton {
  background-color: $bg;
  color: white;
  &:hover {
    background-color: darken($black, 10%) !important;
  }
}

.icon {
  font-size: 1.5rem;
}

.text {
  display: block;
  opacity: 1;
}


// Estilos del contenedor principal
.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 200px;
  height: 100vh;
}

.patient-list-container {
  flex: 1;
  padding: 20px;
  margin: 1rem 17rem auto;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  justify-content: right;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    width: auto;
    margin: 10px;
    max-width: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    input[type="search"] {
      padding: 0.5rem;
      margin-right: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      width: 30%;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      text-align: left;
      padding: 8px;
      vertical-align: middle;
      
      // Estilos para los elementos dentro de las celdas
      input, select, button {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }

    th {
      background-color: #f2f2f2;
    }
  }

  .align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle-active {
    --color-checked: #5AAF45;
    --color-unchecked: #bbb;
    
    .mat-slide-toggle-thumb {
      background-color: var(--color-checked) !important;
    }

    .mat-slide-toggle-bar {
      background-color: var(--color-unchecked) !important;
    }
  }
}

// Botones de acción
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  background-color: $black;
  margin: 0.5rem;
  cursor: pointer;

  .icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .text {
    display: block;
    opacity: 1;
  }

  // Estilos de confirmación y eliminación
  &.confirm {
    .icon.fas.fa-trash { display: none; }
    .icon.fas.fa-question-circle { display: inline-block; }
    .icon.fas.fa-check-circle { display: none; }
    background-color: $blue;
    .text { color: white; }
  }

  &.done {
    .icon.fas.fa-trash { display: none; }
    .icon.fas.fa-question-circle { display: none; }
    .icon.fas.fa-check-circle { display: inline-block; }
    background-color: $green;
    .text { color: white; }
  }

  &:not(.confirm):not(.done):hover {
    background-color: $red;
    .text { color: white; }
  }
}

@keyframes fadeInZoom {
  0% { opacity: 0; transform: scale(.7); }
  100% { opacity: 1; transform: scale(1); }
}