<div class="container">
<app-menu-lateral></app-menu-lateral>
<div class="patient-list-container">
    <div class="header">
      <h1>Pacientes</h1>
      <input type="search" placeholder="Nombre del paciente">
      <button (click)="registerPatient()">+ Registrar nuevo paciente</button>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Número de consultas</th>
          <th>Diagnostico</th>
          <th>Ver más</th>
        </tr>
      </thead>
      <tbody>
        <td>Eugene</td>
        <td>Fitzherbert Charming</td>
        <td>23</td>
        <td>1</td>
        <td>El paciente ha reportado episodios de cefalea y mareos intermitentes en las últimas dos semanas. Actualmente toma medicación para el control de la migraña. Se ha programado el EEG después de una noche de privación de sueño para evaluar la actividad cerebral durante episodios de fatiga extrema. No hay antecedentes familiares de epilepsia. Estudios previos de imagen no muestran anomalías estructurales.</td>
        <td><button (click)="viewDetails()">Ver más</button></td>
        <!-- <tr *ngFor="let patient of patients">
          <td>{{ patient?.nombre }}</td>
          <td>{{ patient.apellido }}</td>
          <td>{{ patient.edad }}</td>
          <td>{{ patient.numeroConsultas }}</td>
          <td>{{ patient.diagnostico }}</td>
          <td><button (click)="viewDetails(patient)">Ver más</button></td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>