<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="patient-info-container">
        <div class="header">
            <h1>Información del paciente</h1>
            <button (click)="editPatient()">Editar paciente</button>
            <button (click)="deletePatient()">Eliminar paciente</button>
        </div>
        <div class="tab-menu">
          <button class="tab" (click)="setActiveTab('infoPatient')" [class.active]="activeTab === 'infoPatient'">Información del paciente</button>
          <button class="tab" (click)="setActiveTab('contactPatient')" [class.active]="activeTab === 'contactPatient'">Contacto del paciente</button>
          <button class="tab" (click)="setActiveTab('historyPatient')" [class.active]="activeTab === 'historyPatient'">Historial del paciente</button>
          <button class="tab" (click)="setActiveTab('consult')" [class.active]="activeTab === 'consult'">Consulta</button>
          <button class="tab" (click)="setActiveTab('infoFamily')" [class.active]="activeTab === 'infoFamily'">Información del familiar</button>
          <button class="tab" (click)="setActiveTab('consent')" [class.active]="activeTab === 'consent'">Consentimiento</button>
        </div>  
      <div class="patient-info-section">
        <div class="tab-content">
          <!-- Información del paciente -->
          <div *ngIf="activeTab === 'infoPatient'">
            <h2>Datos Personales</h2>
            <!-- <p><strong>Identificador:</strong> {{patient.id}}</p>
            <p><strong>Nombre:</strong> {{patient.name}}</p>
            <p><strong>Apellido paterno:</strong> {{patient.lastName}}</p>
            <p><strong>Apellido materno:</strong> {{patient.secondLastName}}</p>
            <p><strong>Fecha de nacimiento:</strong> {{patient.birthDate}}</p>
            <p><strong>Género:</strong> {{patient.gender}}</p>
            <p><strong>Estado civil:</strong> {{patient.maritalStatus}}</p>
            <p><strong>Ocupación:</strong> {{patient.occupation}}</p> -->
            <p><strong>Nombre:</strong> Eugene</p>
            <p><strong>Apellido paterno:</strong> Fitzherbert</p>
            <p><strong>Apellido materno:</strong>Charming</p>
            <p><strong>Fecha de nacimiento:</strong> 15/08/2000</p>
            <p><strong>Género:</strong> Masculino</p>
            <p><strong>Estado civil:</strong> Casado</p>
            <p><strong>Ocupación:</strong> Empresario</p>
          </div>
          <!-- Contacto del paciente -->
          <div *ngIf="activeTab === 'contactPatient'">
            <h2>Información de contacto</h2>
            <!-- <p><strong>Teléfono:</strong> {{patient.phone}}</p>
            <p><strong>Correo electrónico:</strong>{{patient.email}}</p>
            <p><strong>Dirección</strong></p>
            <p><strong>Calle:</strong> {{patient.address.street}}</p>
            <p><strong>Número exterior:</strong> {{patient.address.number}}</p>
            <p><strong>Colonia:</strong> {{patient.address.neighborhood}}</p>
            <p><strong>Código postal:</strong> {{patient.address.zipCode}}</p>
            <p><strong>Municipio:</strong> {{patient.address.municipality}}</p>
            <p><strong>Estado:</strong> {{patient.address.state}}</p>
            <p><strong>Pais:</strong> {{patient.address.country}}</p> -->

            <p><strong>Teléfono:</strong> 1234567890</p>
            <p><strong>Correo electrónico:</strong>eugenef&#64;gmail.edu</p>
            <p><strong>Dirección</strong></p>
            <p><strong>Calle:</strong> Calle</p>
            <p><strong>Número exterior:</strong> 123</p>
            <p><strong>Colonia:</strong> Cumbres</p>
            <p><strong>Código postal:</strong> 12345</p>
            <p><strong>Municipio:</strong> Monterrey</p>
            <p><strong>Estado:</strong> Nuevo León</p>
            <p><strong>Pais:</strong> México</p>
          </div>

          <!-- Historial del paciente -->
          <div *ngIf="activeTab === 'historyPatient'">
            <h2>Historial del paciente</h2>
            <p>El paciente ha reportado episodios de cefalea y mareos intermitentes en las últimas dos semanas. Actualmente toma medicación para el control de la migraña. Se ha programado el EEG después de una noche de privación de sueño para evaluar la actividad cerebral durante episodios de fatiga extrema. No hay antecedentes familiares de epilepsia. Estudios previos de imagen no muestran anomalías estructurales.</p>
            
            <div>
              <strong>Medicamentos actuales:</strong>
              <table class="medications-table">
                <thead>
                  <tr>
                    <th>Ninguno</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medication of patient.currentMedications">
                    <!-- <td>{{ medication }}</td> -->
                    <td>Medicamento</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

            <!-- Consulta -->
            <div *ngIf="activeTab === 'consult'">
              <h2>Consultas Recientes</h2>
              <table class="consults-table">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Número de consulta</th>
                    <th>Diagnóstico previo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let consult of patient.consultas">
                    <!-- <td>{{ consult.date | date:'longDate' }}</td>
                    <td>{{ consult.number }}</td>
                    <td>{{ consult.diagnosis }}</td> -->
                    <td>01/01/2021</td>
                    <td>1</td>
                    <td>El paciente ha reportado episodios de cefalea y mareos intermitentes en las últimas dos semanas. Actualmente toma medicación para el control de la migraña. Se ha programado el EEG después de una noche de privación de sueño para evaluar la actividad cerebral durante episodios de fatiga extrema. No hay antecedentes familiares de epilepsia. Estudios previos de imagen no muestran anomalías estructurales.</td>
                  </tr>
                </tbody>
              </table>
            </div>

          <!-- Información del familiar -->
          <div *ngIf="activeTab === 'infoFamily'">
            <h2>Información del familiar</h2>
            <!-- <p><strong>Nombre(s) del familiar:</strong> {{patient.relativeFirstName}}</p>
            <p><strong>Apellido paterno:</strong> {{patient.relativeLastName}}</p>
            <p><strong>Apellido materno:</strong> {{patient.relativeSurname}}</p>
            <p><strong>Parentesco:</strong> {{patient.relativeRelationship}}</p>
            <p><strong>Teléfono:</strong> {{patient.relativePhone}}</p>
            <p><strong>Correo electrónico:</strong> {{patient.relativeEmail}}</p>
            <p><strong>Dirección</strong>{{patient.relativeAddress}}</p>
            <p><strong>Ciudad</strong>{{patient.relativeCity}}</p>
            <p><strong>Estado</strong>{{patient.relativeState}}</p>
            <p><strong>País</strong>{{patient.relativeCountry}}</p>
            <p><strong>Notas</strong>{{patient.relativeNotes}}</p> -->

            <p><strong>Nombre(s) del familiar:</strong> Eugene</p>
            <p><strong>Apellido paterno:</strong>  Fitzherbert</p>
            <p><strong>Apellido materno:</strong> Rider</p>
            <p><strong>Parentesco:</strong> Padre</p>
            <p><strong>Teléfono:</strong> 1234567890</p>
            <p><strong>Correo electrónico:</strong> fitzherbert&#64;gmail.com</p>
            <p><strong>Dirección</strong> Calle 123</p>
            <p><strong>Ciudad</strong> Monterrey</p>
            <p><strong>Estado</strong> Nuevo León</p>
            <p><strong>País</strong> México</p>
            <p><strong>Notas</strong></p>
          </div>
          <!-- Consentimiento -->
          <div *ngIf="activeTab === 'consent'">
            <h2>Consentimiento del paciente</h2>
            <p>El paciente ha dado su consentimiento para el tratamiento y uso de sus datos personales.</p>
          </div>
        </div>
      </div>
    </div>
</div>
  