<h1>Seleccionar medicamentos</h1>
<ng-select [items]="medicamentos$ | async"
           bindLabel="nombre_comercial"
           bindValue="id_medicamento"
           placeholder="{{ placeholderText }}"
           [multiple]="true" 
           [closeOnSelect]="false" 
           [searchable]="true"
           [(ngModel)]="selectedMedicamentos"
           (change)="onMedicamentosSelected()" 
           (clear)="onMedicamentosCleared()">
  <ng-template ng-option-tmp let-item="item">
    <span>{{ item.nombre_comercial }}</span> 
  </ng-template>
</ng-select>
<div class="actions">
  <button mat-button (click)="guardarSeleccion()">Guardar</button>
  <button mat-button (click)="closeDialog()">Cerrar</button> 
</div>