<h1>Seleccionar medicamentos</h1>
<div class="selected-container">
  <div id="selectedMedicamentos" class="selected-medicamentos"></div>
</div>
<div class="select-container">
  <input type="text" id="medicamentosInput" placeholder="Buscar medicamentos" (input)="filterMedicamentos()">
  <ul id="medicamentosList" class="hidden"></ul>
</div>
<div class="actions">
  <button class="add" title="Guardar selección de medicamentos" (click)="guardarSeleccion()">
    <i class="fas fa-save" aria-hidden="true"></i>
  </button>
  <button class="less" title="Cancelar" (click)="closeDialog()">
    <i class="fas fa-trash" aria-hidden="true"></i>
  </button>
</div>