<!-- <h1>Seleccionar medicamentos</h1>
<ng-select [items]="medicamentos$ | async"
           bindLabel="nombre"
           bindValue="id"
           placeholder="Buscar medicamentos"
           [multiple]="true"
           [closeOnSelect]="false"
           [searchable]="true"
           [(ngModel)]="selectedMedicamentos">
  <ng-template ng-label-tmp let-item="item">
    <span>{{ item.nombre_comercial }}</span> 
  </ng-template>
</ng-select>
<div class="actions">
  <button mat-button (click)="closeDialog()">Cerrar</button> 
</div> -->

<!-- drop-medicamentos-dialog.component.html -->
<h1>Seleccionar medicamentos</h1>
<ng-select [items]="medicamentos$ | async"
           bindLabel="nombre_comercial"
           bindValue="id"
           placeholder="Buscar medicamentos"
           [multiple]="true"
           [closeOnSelect]="false"
           [searchable]="true"
           [(ngModel)]="selectedMedicamentos">
</ng-select>
<div class="actions">
  <button mat-button (click)="closeDialog()">Cerrar</button>
</div>