$bg: #313841;
$red: #F34541;
$black: #1D242B;
$green: #38B87C;
$blue: #2492FF;

:host {
  display: block;
  padding: 20px;
}

.select-container {
  position: relative;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

#medicamentosInput {
  width: 60%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#medicamentosList {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

#medicamentosList li {
  padding: 10px;
  cursor: pointer;
}

#medicamentosList li:hover {
  background-color: #f5f5f5;
}

.selected-container {
  margin-bottom: 20px;
}

.selected-medicamentos {
  display: flex;
  flex-wrap: wrap;
}

.medicamento-tag {
  background-color: #e4e4e4;
  display: inline-flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.2rem;
}

.close-btn {
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.add,
.less {
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  margin: 0.5rem;
  cursor: pointer;
}

.add:hover {
  background-color: #38b87c;
  color: white;
}

.less:hover {
  background-color: #2492ff;
  color: white;
}


.add,
.less {
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  margin: 0.5rem;
  cursor: pointer;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  margin: 0.5rem;
  cursor: pointer;
}

.add {
  color: $bg;
  margin-right: 10px;
  &:hover {
    background-color: $green;
    color: white;
    .text {
      color: white;
    }
  }
}

.less {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  margin: 0.5rem;
  cursor: pointer;
}

.less {
  color: $bg;
  margin-right: 10px;
  &:hover {
    background-color: $blue;
    color: white;
    .text {
      color: white;
}
}
}