<div class="container">
<app-menu-lateral></app-menu-lateral>
<div class="patient-edit-container">
    <h1>Editar paciente</h1>
    <div class="form-actions">
      <button (click)="onDeletePatient()" [ngClass]="{'confirm': isConfirmDelete, 'done': isDeleted}">
        <i class="icon fas fa-trash" *ngIf="!isConfirmDelete && !isDeleted"></i>
        <i class="icon fas fa-question-circle" *ngIf="isConfirmDelete && !isDeleted"></i>
        <i class="icon fas fa-check-circle" *ngIf="isDeleted"></i>
        <span class="text">{{ isDeleted ? 'Eliminado' : (isConfirmDelete ? '¿Seguro?' : 'Eliminar') }}</span>
    </button>
    
    </div>
    <div class="tab-menu">
      <button class="tab" (click)="setActiveTab('infoPatient')" [class.active]="activeTab === 'infoPatient'">Información del paciente</button>
      <button class="tab" (click)="setActiveTab('contactPatient')" [class.active]="activeTab === 'contactPatient'">Contacto del paciente</button>
      <button class="tab" (click)="setActiveTab('historyPatient')" [class.active]="activeTab === 'historyPatient'">Historial del paciente</button>
      <button class="tab" (click)="setActiveTab('infoFamily')" [class.active]="activeTab === 'infoFamily'">Información del familiar</button>
      <button class="tab" (click)="setActiveTab('consent')" [class.active]="activeTab === 'consent'">Consentimiento</button>
    </div>
    <div class="tab-content">
      <!-- Información del paciente -->
      <div *ngIf="activeTab === 'infoPatient'">
        <form (ngSubmit)="onSubmit()" ngForm>
          <h2>Información del paciente</h2>

          <!-- Dentro de <div *ngIf="activeTab === 'infoPatient'"> y otros tabs según corresponda -->
          <div class="form-actions">
            <!-- Cambiar aquí para llamar a onSubmit cuando se guarde -->
            <button type="button" (click)="isEditMode ? onSubmit() : toggleEditMode()">{{ isEditMode ? 'Guardar Cambios' : 'Editar' }}</button>
          </div>
          <div class="form-section">              
            <label for="firstName">Nombre:</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="patient.nombre" required [readonly]="!isEditMode">
            
            <label for="lastName">Apellido paterno:</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="patient.apellido_paterno" required [readonly]="!isEditMode">
            
            <label for="surname">Apellido materno:</label>
            <input type="text" id="surname" name="surname"[(ngModel)]="patient.apellido_materno" required [readonly]="!isEditMode">
            
            <label for="birthDate">Fecha de nacimiento:</label>
            <input type="date" id="birthDate" name="birthDate" [(ngModel)]="patient.fecha_nacimiento" required [readonly]="!isEditMode" [value]="patient.fecha_nacimiento | date:'yyyy-MM-dd'">
            
            <!-- Género guardado -->
            <div *ngIf="!isEditMode">
              <label>Género:</label>
              <span>{{ getGeneroDisplay(patient.genero) }}</span>
            </div>

            <!-- Botones de radio para editar -->
            <div *ngIf="isEditMode">
              <label for="gender">Género:</label>
              <div id="gender">
                <label>
                  <input type="radio" name="gender" value="male" [(ngModel)]="patient.genero"> Masculino
                </label>
                <label>
                  <input type="radio" name="gender" value="female" [(ngModel)]="patient.genero"> Femenino
                </label>
              </div>
            </div>
            <br>

            <!-- Estado civil guardado -->
            <div *ngIf="!isEditMode">
              <label>Estado civil:</label>
              <span>{{ getEstadoCivil(patient.estado_civil) }}</span>
            </div>


            <!-- Botones de radio para editar -->
            <div *ngIf="isEditMode">
              <label>Estado civil:</label>
              <label>
                <input type="radio" name="civilStatus" value="single" [(ngModel)]="patient.estado_civil"> Soltero/a
              </label>
              <label>
                <input type="radio" name="civilStatus" value="married" [(ngModel)]="patient.estado_civil"> Casado/a
              </label>
              <label>
                <input type="radio" name="civilStatus" value="divorced" [(ngModel)]="patient.estado_civil"> Divorciado/a
              </label>
              <label>
                <input type="radio" name="civilStatus" value="widower" [(ngModel)]="patient.estado_civil"> Viudo/a
              </label>
            </div>
  
            <!-- Lateralidad guardada -->
            <div *ngIf="!isEditMode">
              <label>Lateralidad:</label>
              <span>{{ getLateralidadDisplay(patient.lateralidad) }}</span>
            </div>

            <!-- Selector para editar Lateralidad -->
            <div *ngIf="isEditMode">
              <label for="laterality">Lateralidad:</label>
              <label>
                <input type="radio" name="laterality" value="left" [(ngModel)]="patient.lateralidad"> Zurdo
              </label>
              <label>
                <input type="radio" name="laterality" value="right" [(ngModel)]="patient.lateralidad"> Diestro
              </label>
              <label>
                <input type="radio" name="laterality" value="ambidextrous" [(ngModel)]="patient.lateralidad"> Ambidiestro
              </label>
            </div>
            <br>

            <!-- Escolaridad guardada -->
            <div *ngIf="!isEditMode">
              <label>Escolaridad:</label>
              <span>{{ getEscolaridadDisplay(patient.escolaridad) }}</span>
            </div>

            <!-- Selector para editar Escolaridad -->
            <div *ngIf="isEditMode">
              <label for="educationLevel">Escolaridad:</label>
              <label>
                <input type="radio" name="educationLevel" value="elementary" [(ngModel)]="patient.escolaridad"> Primaria
              </label>
              <label>
                <input type="radio" name="educationLevel" value="secondary" [(ngModel)]="patient.escolaridad"> Secundaria
              </label>
              <label>
                <input type="radio" name="educationLevel" value="highSchool" [(ngModel)]="patient.escolaridad"> Preparatoria
              </label>
              <label>
                <input type="radio" name="educationLevel" value="university" [(ngModel)]="patient.escolaridad"> Universidad
              </label>
              <label>
                <input type="radio" name="educationLevel" value="mastersDegree" [(ngModel)]="patient.escolaridad"> Maestría
              </label>
              <label>
                <input type="radio" name="educationLevel" value="doctorate" [(ngModel)]="patient.escolaridad"> Doctorado
              </label>
            </div>
            <br>

            <div *ngIf="!isEditMode">
              <label>Ocupación:</label>
              <span>{{ getOcupationDisplay(patient.ocupacion) }}</span>
            </div>

            <div *ngIf="isEditMode">
              <label for="occupation">Ocupación:</label>
              <label>
                <input type="radio" name="occupation" value="student" [(ngModel)]="patient.ocupacion"> Estudiante
              </label>
              <label>
                <input type="radio" name="occupation" value="employee" [(ngModel)]="patient.ocupacion"> Empleado
              </label>
              <label>
                <input type="radio" name="occupation" value="freelancer" [(ngModel)]="patient.ocupacion"> Empresario
              </label>
              <label>
                <input type="radio" name="occupation" value="freelancer" [(ngModel)]="patient.ocupacion"> Independiente
              </label>
            </div>
            <br>
      </div>
    </form>
  </div>

      <!-- Contacto del paciente
      <div *ngIf="activeTab === 'contactPatient'">
        <form (ngSubmit)="onSubmit()" ngForm>
          <h2>Contacto del paciente</h2>
          <div class="form-actions">
            <button type="button" (click)="toggleEditMode()">{{ isEditMode ? 'Guardar Cambios' : 'Editar' }}</button>
          </div>
          <div class="form-section">
            <label>Teléfonos celulares:</label>
            <div *ngFor="let phone of patient.phones; let i = index">
              <input type="text" [id]="'phone' + i" [name]="'phone' + i" [(ngModel)]="patient.phones[i].telefono" [readonly]="!isEditMode">
            </div>

            <label>Correos electrónicos:</label>
            <div *ngFor="let email of patient.emails; let i = index">
              <input type="text" [id]="'email' + i" [name]="'email' + i" [(ngModel)]="patient.emails[i].correo_electronico" [readonly]="!isEditMode">
            </div>

            <label>Direcciones:</label>
            <div *ngFor="let address of patient.addresses; let i = index">
              <input type="text" [id]="'address' + i" [name]="'address' + i" [(ngModel)]="patient.addresses[i].calle_numero" placeholder="Calle y número" [readonly]="!isEditMode">
              <input type="text" [id]="'city' + i" [name]="'city' + i" [(ngModel)]="patient.addresses[i].ciudad" placeholder="Ciudad" [readonly]="!isEditMode">
              <input type="text" [id]="'state' + i" [name]="'state' + i" [(ngModel)]="patient.addresses[i].estado" placeholder="Estado" [readonly]="!isEditMode">
              <input type="text" [id]="'zipCode' + i" [name]="'zipCode' + i" [(ngModel)]="patient.addresses[i].codigo_postal" placeholder="Código postal" [readonly]="!isEditMode">
              <input type="text" [id]="'country' + i" [name]="'country' + i" [(ngModel)]="patient.addresses[i].pais" placeholder="País" [readonly]="!isEditMode">
            </div>
          </div>
        </form>
      </div> -->

      <!-- Historial del paciente -->
      <div *ngIf="activeTab === 'historyPatient'">
        <form (ngSubmit)="onSubmit()" ngForm>
          <h2>Historial del paciente</h2>
          <div class="form-actions">
            <button type="button" (click)="toggleEditMode()">{{ isEditMode ? 'Guardar Cambios' : 'Editar' }}</button>
          </div>
          <div class="form-section">
            <label for="medicalHistory">Historial médico:</label>
            <textarea id="medicalHistory" name="medicalHistory" [(ngModel)]="patient.historial_medico" required [readonly]="!isEditMode"></textarea>
            
            <label for="currentMedication">Medicamentos actuales:</label>
            <table class="medications-table">
              <thead>
                <tr>
                  <th>Medicamento</th>
                  <!--Agregar barra de busqueda que consuma obtener_medicamentos()-->
                  <!--Sino encuentra el medicamento puede crear uno-->
                  <th *ngIf="isEditMode">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medication of patient.medicamentos_actuales; let i = index">
                  <td>
                    <!-- <input type="text" name="medication-{{i}}" [(ngModel)]="patient.currentMedications[i]" [readonly]="!isEditMode"> -->
                    <input type="text" name="medication-{{i}}" [readonly]="!isEditMode">
                  </td>
                  <td *ngIf="isEditMode">
                    <button type="button" (click)="removeMedication(i)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" (click)="addMedication()" *ngIf="isEditMode">Agregar medicamentos</button>
          </div>
        </form>
      </div>

      <!-- Información del familiar -->
      <div *ngIf="activeTab === 'infoFamily'">
        <form (ngSubmit)="onSubmit()" ngForm>
          <h2>Información del familiar</h2>
          <div class="form-actions">
            <button type="button" (click)="toggleEditMode()">{{ isEditMode ? 'Guardar Cambios' : 'Editar' }}</button>
          </div>
          <div class="form-section">
            <label for="relativeFirstName">Nombre(s):</label>
            <input type="text" id="relativeFirstName" name="relativeFirstName" [(ngModel)]="patient.nombre_contacto_emergencia" required [readOnly]="!isEditMode">
            
            <label for="relativeLastName">Apellido paterno:</label>
            <input type="text" id="relativeLastName" name="relativeLastName" [(ngModel)]="patient.apellido_paterno_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativeSurname">Apellido materno:</label>
            <input type="text" id="relativeSurname" name="relativeSurname" [(ngModel)]="patient.apellido_materno_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relationship">Parentesco:</label>
            <input type="text" id="relationship" name="relationship" [(ngModel)]="patient.parentesco_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativePhone">Telefono:</label>
            <input type="text" id="relativePhone" name="relativePhone" [(ngModel)]="patient.telefono_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativeEmail">Correo electronico:</label>
            <input type="text" id="relativeEmail" name="relativeEmail" [(ngModel)]="patient.correo_electronico_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativeAddress">Dirección:</label>
            <input type="text" id="relativeAddress" name="relativeAddress" [(ngModel)]="patient.direccion_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativeCity">Ciudad:</label>
            <input type="text" id="relativeCity" name="relativeCity" [(ngModel)]="patient.ciudad_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativeState">Estado:</label>
            <input type="text" id="relativeState" name="relativeState" [(ngModel)]="patient.estado_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativeZipCode">Código postal:</label>
            <input type="text" id="relativeZipCode" name="relativeZipCode" [(ngModel)]="patient.codigo_postal_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativeCountry">País:</label>
            <input type="text" id="relativeCountry" name="relativeCountry" [(ngModel)]="patient.pais_contacto_emergencia" required [readOnly]="!isEditMode">

            <label for="relativeNotes">Notas:</label>
            <textarea id="relativeNotes" name="relativeNotes" [(ngModel)]="patient.notas_contacto_emergencia" required [readOnly]="!isEditMode"></textarea>
          </div>
        </form>
      </div>


      <!-- Consentimiento del paciente -->
      <div *ngIf="activeTab === 'consent'">
        <form (ngSubmit)="onSubmit()" ngForm>
          <h2>Consentimiento del paciente</h2>
          <div class="form-actions">
            <button type="button" (click)="toggleEditMode()">{{ isEditMode ? 'Guardar Cambios' : 'Editar' }}</button>
          </div>
          <div class="form-section">
            <label for="patientConsent">
              <input type="checkbox" id="patientConsent" name="consentimiento" required [readOnly]="!isEditMode"> 
              Consentimiento del paciente
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

