$bg: #313841;
$red: #F34541;
$black: #1D242B;
$green: #38B87C;
$blue: #2492FF;

.container {
  display: flex;
  flex-direction: row;
  width: 100rem;
  max-width: 100rem;
  position: relative;
}

.header {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  width: 100%;
  padding: 0;
  align-items: baseline;
}

.left {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  width: 100%;
  padding: 0;
  align-items: baseline;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  align-items: baseline;
}

.sidebar {
  flex: 0 0 200px;
  height: 100vh;
}

.patient-edit-container {
  flex: 1;
  padding: 1rem;
  margin: 3rem 8rem 0rem 17rem;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  justify-content: right;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .tab-menu {
    .tab{
      padding: 0.5rem 1rem;
      margin-right: 0.5rem;
      background-color: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      font-size: medium;

      &.active {
        border-bottom: 3px solid #7353ba;
        font-weight: bold;
        color: #333;
      }

      &:hover {
        background-color:#bbbdf6;
      }
    }
  }

  .tab-content {
    background-color: #ebebfc;
    border-radius: 8px;
    padding: 1rem;
  }

  .consultations-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .consultations-table thead {
    background-color: #f2f2f2;
  }
  
  .consultations-table th,
  .consultations-table td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .consultations-table th {
    font-weight: bold;
  }
  
  .consultations-table td {
    background-color: #fff;
  }
  
  .consultations-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .consultations-table input[type="date"],
  .consultations-table input[type="text"],
  .consultations-table textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .consultations-table input[readOnly],
  .consultations-table textarea[readOnly] {
    background-color: #e7e7e7;
  }
  
  .consultations-table button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .consultations-table button:hover {
    background-color: #45a049;
  }
  
  .consultations-table .form-actions {
    text-align: right;
  }
  
  .medications-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    thead {
      background-color: #f2f2f2;
    }
  
    th,
    td {
      text-align: left;
      border: 1px solid #ddd;
      padding: 8px;
    }
  
    input[type="text"] {
      width: calc(100% - 10px);
      padding: 5px;
      margin: 5px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #333;
    }
  }

  label{
    color: #7353ba !important;
    font-size: .9rem;
  }
  
  .respuesta, a{
    color: $black;
    font-size: 1.3rem;
  }

  .seccion{
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    padding: 1rem;
  }

  .tab-navigation-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
  }

  .regresar, .editar, .acciones{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    margin: 0.5rem;
    cursor: pointer;
    margin-bottom: 20px;
  }
    .regresar {
      color: $bg;
      &:hover {
      background-color: $blue;
      color: white;
      .text { color: white; }
    }
  }
    .editar {
      color: $bg;
      &:hover {
      background-color: $blue;
      color: white;
      .text { color: white; }
    }
  }
  .acciones {
    color: $bg;
    &:hover {
    background-color: $blue;
    color: white;
    .text { color: white; }
  }
  &:disabled {
    color: #ebebfc;
    background-color: transparent;
    cursor: not-allowed;
    &:hover {
        background-color: transparent;
    }
}
}

  .cancelar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    margin: 0.5rem;
    cursor: pointer;
    margin-bottom: 20px;

    color: #666;
    &:hover {
    background-color: $blue;
    color: white;
    .text { color: white; }
  }
  }

  // Botones de acción
.button-eliminar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  margin: 0.5rem;
  cursor: pointer;

  .icon {
    font-size: 1.5rem;
    color: $bg;
    margin-right: 0.5rem;
    margin-left: 0.25rem;
  }

  .text {
    display: block;
    opacity: 1;
  }

  &.confirm {
    .icon.fas.fa-trash { display: none; }
    .icon.fas.fa-question-circle {
      display: inline-block;
      color: white;
    }
    .icon.fas.fa-check-circle { display: none; }
    background-color: $blue;
    .text { color: white; }
  }

  &.done {
    .icon.fas.fa-trash { display: none; }
    .icon.fas.fa-question-circle { display: none; }
    .icon.fas.fa-check-circle {
      display: inline-block;
      color: white;
    }
    background-color: $green;
    .text { color: white; }
  }

  &.delete-initiated:not(.confirm):not(.done) {
    background-color: $red;
    .icon.fas.fa-trash {
      display: inline-block;
      color: white;
    }
    .text { color: white; }
  }

  &:not(.confirm):not(.done):hover {
    background-color: $red;
    .icon.fas.fa-trash {
      display: inline-block;
      color: white;
    }
    .text { color: white; }
  }
}

  .error{
    color: red;
  }

  .form-actions{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .form-section {
    margin-bottom: 20px;
    width: 90%;

    label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    select {
      padding: .625rem;
      margin-bottom: .625rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    }

    input[type="checkbox"] {
      margin-right: 1rem;
    }
    textarea {
      width: 100%;
      padding: .625rem;
      margin-bottom: .625rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button {  
      padding: 0.7rem;
      border: 1px solid #ccc;
      border-radius: 4px;      
      &:hover {
        background-color: #333;
      }
      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .sidebar {
    flex: 0 0 auto;
    height: auto;
  }
  .patient-register-container {
    flex: 1 0 auto;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: none;
    .form-section {
      input[type="text"],
      input[type="tel"],
      input[type="email"],
      input[type="date"],
      select {
          width: 90%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
      }
    }
  }
}