<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="user-list-container">
        <div class="header">
          <h1>Psicólogos por aprobar</h1>
          <input type="search" placeholder="Nombre del psicólogo">
        </div>
      
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Nombre de usuario</th>
              <th>Contraseña</th>
              <th>Correo UDEM</th>
              <th>Aprobar</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let user of users">
              <td>{{ user?.nombre }}</td>
              <td>{{ user.apellido }}</td>
              <td>{{ user.edad }}</td>
              <td>{{ user.numeroConsultas }}</td>
              <td>{{ user.diagnostico }}</td>
              <td><button (click)="viewDetails(user)">Ver más</button></td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>