.patient-info-container {
      padding-top: 1.5rem;
      padding-bottom: .5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      justify-content: space-between;
      background-color: #ebebfc;
      display: flex;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      align-items: baseline;
      flex-direction: row;
      flex-wrap: nowrap;
  
    .patient-basic-info {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-bottom: 1rem;
  
      span {
        display: block;
        font-size: 1.2rem;
      }
    }
  
    .patient-clinical-info {
      p {
        margin: 0;
      }
    }
  }
  
  @media (max-width: 768px) {
    .patient-basic-info {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  