<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="medicament-list-container">
      <div class="header">
        <h1>Medicamentos</h1>
        <div class="search-container">
          <i class="fas fa-search search-icon" aria-hidden="true"></i>
          <input type="search" placeholder="Buscar medicamento" [formControl]="searchControl" class="search-input">
        </div>
        <div>
            <button class="registerButton" (click)="abrirDialogoCrearMedicamento()" title="Agregar nuevo medicamento">
                <i class="fas fa-plus" aria-hidden="true"></i>
              </button>              
        </div>
      </div>
      <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Columnas para medicamentos -->
        <ng-container matColumnDef="nombre_comercial">
          <th mat-header-cell *matHeaderCellDef> Nombre Comercial </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!editModeMap[element.id_medicamento]; else editNombreComercial">
              {{ element.nombre_comercial }}
            </div>
            <ng-template #editNombreComercial>
              <input [(ngModel)]="element.nombre_comercial" type="text" class="table-input" />
            </ng-template>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="principio_activo">
          <th mat-header-cell *matHeaderCellDef> Principio Activo </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!editModeMap[element.id_medicamento]; else editPrincipioActivo">
              {{ element.principio_activo }}
            </div>
            <ng-template #editPrincipioActivo>
              <input [(ngModel)]="element.principio_activo" type="text" class="table-input" />
            </ng-template>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef> Presentación </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!editModeMap[element.id_medicamento]; else editPresentacion">
              {{ element.presentacion }}
            </div>
            <ng-template #editPresentacion>
              <input [(ngModel)]="element.presentacion" type="text" class="table-input" />
            </ng-template>
          </td>
        </ng-container> 
        
        <!-- <ng-container matColumnDef="dosis">
          <th mat-header-cell *matHeaderCellDef> Dosis </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!editModeMap[element.id_medicamento]; else editDosis">
              {{ element.dosis }}
            </div>
            <ng-template #editDosis>
              <input [(ngModel)]="element.dosis" type="text" class="table-input" />
            </ng-template>
          </td>
        </ng-container> -->

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element">
            <button class="editButton" *ngIf="!editModeMap[element.id_medicamento]" (click)="enableEditMode(element)" title="Editar medicamento">
              <i class="icon fas fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="saveButton" *ngIf="editModeMap[element.id_medicamento]" (click)="saveMedicamento(element)" title="Guardar cambios">
              <i class="icon fas fa-check" aria-hidden="true"></i>
            </button>
            <button class="cancelEditButton" *ngIf="editModeMap[element.id_medicamento]" (click)="cancelEditMode(element)" title="Cancelar cambios">
              <i class="icon fas fa-times" aria-hidden="true"></i>
            </button>
          </td>
        </ng-container>

        <!-- Columna para acciones como eliminar o ver detalles -->
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <!-- <button class="eliminar-button" (click)="eliminarMedicamento(element)" [ngClass]="{'confirm': element.isConfirm, 'done': element.isDeleted}">
                <i class="icon fas fa-trash" *ngIf="!element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-question-circle" *ngIf="element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-check-circle" *ngIf="element.isDeleted"></i>
                <span class="text">{{ element.isDeleted ? 'Eliminado' : (element.isConfirm ? '¿Seguro?' : 'Eliminar') }}</span>
              </button> -->

              <!-- <button class="button-eliminar" (click)="eliminarMedicamento(element)" [ngClass]="{'confirm': element.isConfirm, 'done': element.isDeleted, 'delete-initiated': element.isDeleteInitiated && !element.isConfirm}">
                <i class="icon fas fa-trash" *ngIf="!element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-question-circle" *ngIf="element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-check-circle" *ngIf="element.isDeleted"></i>
                <span class="text">{{ element.isDeleted ? 'Eliminado' : (element.isConfirm ? '¿Estas seguro?' : 'Eliminar') }}</span>
              </button> -->

              <button class="button-eliminar" (click)="eliminarMedicamento(element)" [ngClass]="{'confirm': element.isConfirm, 'done': element.isDeleted, 'delete-initiated': element.isDeleteInitiated && !element.isConfirm}" title="Eliminar medicamento">
                <i class="icon fas fa-trash" *ngIf="!element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-question-circle" *ngIf="element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-check-circle" *ngIf="element.isDeleted"></i>
                <!-- Actualizado para mostrar 'Delete' solo después del primer clic -->
                <span class="text" *ngIf="element.isDeleteInitiated">{{ element.isDeleted ? 'Deleted' : (element.isConfirm ? '¿Estas seguro?' : 'Eliminar') }}</span>
              </button>
              
            </td>
          </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>
      <br>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <app-usuario></app-usuario>