<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="medicament-list-container">
      <div class="header">
        <h1>Medicamentos</h1>
        <div class="search-container">
          <i class="fas fa-search search-icon" aria-hidden="true"></i>
          <input type="search" placeholder="Buscar medicamento" [formControl]="searchControl" class="search-input">
        </div>
        <div>
            <button class="registerButton" (click)="abrirDialogoCrearMedicamento()">
                <i class="fas fa-plus" aria-hidden="true"></i>
              </button>              
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Columnas para medicamentos -->
        <ng-container matColumnDef="nombre_comercial">
          <th mat-header-cell *matHeaderCellDef> Nombre Comercial </th>
          <td mat-cell *matCellDef="let element">{{element.nombre_comercial}}</td>
        </ng-container>
  
        <ng-container matColumnDef="principio_activo">
          <th mat-header-cell *matHeaderCellDef> Principio Activo </th>
          <td mat-cell *matCellDef="let element">{{element.principio_activo}}</td>
        </ng-container>
  
        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef> Presentación </th>
          <td mat-cell *matCellDef="let element">{{element.presentacion}}</td>
        </ng-container>
  
        <!-- Columna para acciones como eliminar o ver detalles -->
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <!-- <button class="eliminar-button" (click)="eliminarMedicamento(element)" [ngClass]="{'confirm': element.isConfirm, 'done': element.isDeleted}">
                <i class="icon fas fa-trash" *ngIf="!element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-question-circle" *ngIf="element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-check-circle" *ngIf="element.isDeleted"></i>
                <span class="text">{{ element.isDeleted ? 'Eliminado' : (element.isConfirm ? '¿Seguro?' : 'Eliminar') }}</span>
              </button> -->

              <!-- <button class="button-eliminar" (click)="eliminarMedicamento(element)" [ngClass]="{'confirm': element.isConfirm, 'done': element.isDeleted, 'delete-initiated': element.isDeleteInitiated && !element.isConfirm}">
                <i class="icon fas fa-trash" *ngIf="!element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-question-circle" *ngIf="element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-check-circle" *ngIf="element.isDeleted"></i>
                <span class="text">{{ element.isDeleted ? 'Eliminado' : (element.isConfirm ? '¿Estas seguro?' : 'Eliminar') }}</span>
              </button> -->

              <button class="button-eliminar" (click)="eliminarMedicamento(element)" [ngClass]="{'confirm': element.isConfirm, 'done': element.isDeleted, 'delete-initiated': element.isDeleteInitiated && !element.isConfirm}">
                <i class="icon fas fa-trash" *ngIf="!element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-question-circle" *ngIf="element.isConfirm && !element.isDeleted"></i>
                <i class="icon fas fa-check-circle" *ngIf="element.isDeleted"></i>
                <!-- Actualizado para mostrar 'Delete' solo después del primer clic -->
                <span class="text" *ngIf="element.isDeleteInitiated">{{ element.isDeleted ? 'Deleted' : (element.isConfirm ? '¿Estas seguro?' : 'Eliminar') }}</span>
              </button>
              
            </td>
          </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  