<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
  <div class="header">
    <div class="left">
      <img src="assets/img/logo.png">
    </div>
    <div class="right">
      <label>¿Eres parte de la UDEM?</label>
      <button type="button" (click)="registerUser()" class="registrar">Registrar aquí</button>
    </div>
  </div>
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="username" id="username" class="form-control" formControlName="username" placeholder="Ingrese su nombre de usuario">
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="alert alert-danger">
          El correo electrónico es obligatorio y debe ser un correo válido.
        </div>
      </div>


      <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" id="contraseña" class="form-control password" formControlName="contraseña" placeholder="Ingrese su contraseña">
          <button type="button" class="toggle-password" (click)="toggleShowPassword()">
            <i class="fas fa-eye" aria-hidden="true"></i>
          </button>
        </div>
        <div *ngIf="loginForm.get('contraseña')?.invalid && loginForm.get('contraseña')?.touched" class="alert alert-danger">
          La contraseña es obligatoria.
        </div>
      </div>
      
      <button type="button" (click)="onForgotPassword()" class="btn btn-link">Olvidé la contraseña</button>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Enviar</button>
      
    </form>    
  </div> 
</div>
