@import 'bootstrap/scss/bootstrap';

body, html {
  height: 100%;
}

.header {
  background-color: yellow; // Your color
  img {
    height: 80px; // Adjust as needed
  }
}

.login-container {
  background-image: url("../../../assets/img/fondo.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  form {
    background-color: rgba(51, 51, 51, 0.8); // Semi-transparent background
    padding: 2rem;
    border-radius: 10px;
    color: white;
    max-width: 400px; // Adjust as needed

    .form-control {
      background-color: rgba(255, 255, 255, 0.7); // Semi-transparent input background
      border: none;
      &:focus {
        box-shadow: none;
        border: 2px solid blue; // Color when the input is focused
      }
    }

    .btn-primary {
      background-color: blue; // Adjust button color as needed
      border: none;
      &:hover {
        background-color: darken(blue, 5%); // Slightly darker on hover
      }
    }

    .btn-secondary {
      color: #007bff; // Adjust link color as needed
      &:hover {
        color: darken(#007bff, 5%);
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .login-container {
    justify-content: center;
    form {
      margin: 20px;
      max-width: 100%;
    }
  }
}
