<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
  <div class="header">
    <img src="assets/img/logo.png">
  </div>
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="username" id="username" class="form-control" formControlName="username" placeholder="Ingrese su nombre de usuario">
        <!-- Utiliza 'get' para acceder de forma segura a los controles del formulario -->
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="alert alert-danger">
          El correo electrónico es obligatorio y debe ser un correo válido.
        </div>
      </div>
      
      <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <!-- Asegúrate de que el 'type' y 'formControlName' sean consistentes -->
        <input type="password" id="contraseña" class="form-control" formControlName="contraseña" placeholder="Ingrese su contraseña">
        <!-- Utiliza 'get' para acceder de forma segura a los controles del formulario -->
        <div *ngIf="loginForm.get('contraseña')?.invalid && loginForm.get('contraseña')?.touched" class="alert alert-danger">
          La contraseña es obligatoria.
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Enviar</button>
      <button type="button" (click)="registerUser()" class="btn btn-secondary">Registrar nuevo usuario</button>
      <button type="button" (click)="onForgotPassword()" class="btn btn-link">Olvidé la contraseña</button>
      
    </form>    
  </div> 
</div>
