.container{
    background-image: url("../../../assets/img/fondo.png");
    display: flex;
    justify-content: flex-end; /* Alinea el formulario a la derecha */
    align-items: center; /* Centra el formulario verticalmente */
    min-height: 100vh; /* Altura mínima del viewport */
    padding: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 99%;
  padding: 1rem;
  text-align: right;
  background-color: yellow;
  h2 {
    margin: 0;
  }
}
img {
  width: auto;
  height: 58px;
}
.login-container {
  max-width: 25rem; /* Máximo ancho del contenedor de inicio de sesión */
  margin-right: 5%;
  min-width: 20rem; /* Ancho mínimo del contenedor de inicio de sesión */
    padding: 20px;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    form {
      display: flex;
      flex-direction: column;
    }
    .form-group {
      margin-bottom: 15px;
      label {
        display: block;
        color: white;
        margin-bottom: 5px;
      }
      input {
        width: 95%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        &:focus {
          border-color: #0056b3;
          outline: none;
        }
      }
      .alert {
        margin-top: 5px;
        font-size: 0.85em;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 5px;
        border-radius: 4px;
      }
    }
    button {
      background-color: #007bff;
      &.btn-primary {
        background-color: #007bff;
        color: white;
        &:disabled {
          background-color: #007bff;
          opacity: 0.5;
        }
      }
      &.btn-secondary {
        background-color: #6c757d;
        color: white;
      }
    }
    a {
      color: #007bff;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .showForgotPassword {
    transition: all 0.3s;
    display: none;
    &.active {
      display: block;
    }
  }
  