<div class="login-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email" required #email="ngModel" autocomplete="username" placeholder="Ingrese su correo">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors?.['required']">Correo electrónico es requerido.</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password" required #password="ngModel" autocomplete="current-password" placeholder="Ingrese su contraseña">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors?.['required']">Contraseña es requerida.</div>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Enviar</button>
      
      <a (click)="toggleForgotPassword()">Olvidé la contraseña</a>
    </form>
    
    <div *ngIf="showForgotPassword">
      <label for="forgot-email">Por favor ingrese su dirección de correo electrónico:</label>
      <input type="email" id="forgot-email" class="form-control" [(ngModel)]="forgotPasswordEmail" (keyup.enter)="onForgotPassword()" placeholder="Correo electrónico">
      <button (click)="onForgotPassword()" class="btn btn-secondary">Enviar</button>
      <button (click)="toggleForgotPassword()" class="btn btn-secondary">Regresar</button>
    </div>
  </div>