<div class="container" *ngIf="patient.consultations">
  <app-menu-lateral></app-menu-lateral>
  <div class="new-consult-container">
    <form (ngSubmit)="onSubmit()" ngForm>
      <h2>Consulta</h2>
      <div class="form-section">
        <div *ngFor="let consultation of patient.consultations; let i = index" class="consultation-item">
          <label for="consultationDate-{{i}}">Fecha de consulta:</label>
          <input type="date" id="consultationDate-{{i}}" name="consultationDate-{{i}}" [(ngModel)]="consultation.date" required>

          <label for="consultationNumber-{{i}}">Número de consulta:</label>
          <input type="text" id="consultationNumber-{{i}}" name="consultationNumber-{{i}}" [(ngModel)]="consultation.number" required>

          <label for="previousDiagnosis-{{i}}">Diagnóstico previo:</label>
          <textarea id="previousDiagnosis-{{i}}" name="previousDiagnosis-{{i}}" [(ngModel)]="consultation.diagnosis"></textarea>

          <button type="button" (click)="cancel()">Cancelar</button>
          <button type="submit" (click)="saveConsultation()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>