<div class="side-menu">
    <div class="logo-container">
      <img src="logo.png" alt="Logo" class="logo">
    </div>
    <div class="username">
      Umberto León Domínguez
    </div>
    <nav class="nav-list">
      <a class="nav-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-item" routerLink="/pacientes" routerLinkActive="active">Pacientes</a>
      <a class="nav-item" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
    </nav>
  </div>
  <div class="content">
    <!-- Contenido principal aquí -->
    <!--<router-outlet></router-outlet>-->
  </div>
  