<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
  <div class="header">
    <img src="assets/img/logo.png"> <!--Agregar logo-->
  </div>
<div class="login-container">
  <!--<form (ngSubmit)="onSubmit()" #loginForm="ngForm">-->
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Olvidaste la contraseña</label>
        <p>Por favor ingrese su dirección de correo electrónico, para recuperar tu contraseña.</p>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingrese su correo">
      </div>
      
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="button" (click)="cancelForgetPassword()">Cancelar</button>
    </form>    
  <div>
    <!--<label for="forgot-email">Por favor ingrese su dirección de correo electrónico:</label>-->
    <!--<input type="email" id="forgot-email" class="form-control" [(ngModel)]="forgotPasswordEmail" (keyup.enter)="onForgotPassword()" placeholder="Correo electrónico">-->
    <!--<input type="email" id="forgot-email" class="form-control" (keyup.enter)="onForgotPassword()" placeholder="Correo electrónico">-->
    <!--<button (click)="onForgotPassword()" class="btn btn-secondary">Enviar</button>
    <button (click)="toggleForgotPassword()" class="btn btn-secondary">Regresar</button>-->
  </div> 
</div>
</div>