<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
  <div class="header">
    <div class="left">
      <img src="assets/img/logo.png">
    </div>
    <div class="right">
      <label>¿Eres parte de la UDEM?</label>
      <button type="button" (click)="registerUser()" class="registrar">Registrar aquí</button>
    </div>
  </div>
<div class="login-container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Olvidaste la contraseña</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="usuario&#64;correo.com">
      </div>
      
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="button" (click)="cancelForgetPassword()">Cancelar</button>
    </form>    
  <div>
  </div> 
</div>
</div>