<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
  <div class="header">
    <img src="assets/img/logo.png"> <!--Agregar logo-->
  </div>
<div class="login-container">
  <!--<form (ngSubmit)="onSubmit()" #loginForm="ngForm">-->
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre">
        </div>

        <div class="form-group">
          <label for="name">Apellidos</label>
          <input type="text" id="apellidos" class="form-control" formControlName="apellidos" placeholder="Ingrese sus apellidos">
        </div>
        
        <div class="form-group">
          <label for="contraseña">Contraseña</label>
          <input type="contraseña" id="contraseña" class="form-control" formControlName="contraseña" placeholder="Ponga su contraseña de portal udem">
        </div>
      
        <div class="form-group">
            <label for="email">Correo UDEM</label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ponga su correo UDEM">
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Enviar</button>
        <button type="button" class="btn" (click)="cancel()">Cancelar</button>
      </form>
      
  <div>
    <!--<label for="forgot-email">Por favor ingrese su dirección de correo electrónico:</label>-->
    <!--<input type="email" id="forgot-email" class="form-control" [(ngModel)]="forgotPasswordEmail" (keyup.enter)="onForgotPassword()" placeholder="Correo electrónico">-->
    <!--<input type="email" id="forgot-email" class="form-control" (keyup.enter)="onForgotPassword()" placeholder="Correo electrónico">-->
    <!--<button (click)="onForgotPassword()" class="btn btn-secondary">Enviar</button>
    <button (click)="toggleForgotPassword()" class="btn btn-secondary">Regresar</button>-->
  </div> 
</div>
</div>