$bg: #313841;
$red: #F34541;
$black: #1D242B;
$green: #38B87C;
$blue: #2492FF;

.container {
    position: relative;
  }
  
  .container-usuario {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    max-width: fit-content;
  
    display: flex;
    align-items: center;
    padding: 20px;
  
    .fas.fa-user-circle {
      margin-right: 10px;
      font-size: 24px;
    }
  
    p {
      margin: 0;
      color: $bg;
      font-size: 14px;
      padding-right: 1rem;
    }
    .logout{
      align-items: center;
      padding: 0.5rem;
      border: none;
      border-radius: 70px;
      font-size: 1.25rem;
      background-color: transparent;
      margin: 0.5rem;
      cursor: pointer;
      //margin-bottom: 20px;
    }
      .logout {
        color: $bg;
        &:hover {
        background-color: $red;
        color: white;
        .text { color: white; }
      }
    }
  }
  