.container{
  display: flex;
  flex-direction: row;
}
.sidebar {
    flex: 0 0 200px;
    height: 100vh;
}
.eeg-upload-container {
    flex: 1;
    padding: 20px;
    margin: 1rem 17rem auto; // Centrado en la página
    max-width: 100%; // Ancho máximo
    width: 100%; // Asegura que se ajuste al contenedor padre
    background-color: #fff;
    justify-content: right;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    @media (max-width: 768px) {
      width: auto; // Ocupa el ancho completo en pantallas pequeñas
      margin: 10px; // Margen reducido para pantallas pequeñas
      max-width: none;
    }
  
    .upload-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      button {  
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 4px;      
        &:hover {
          background-color: #333;
        }
      }
  
      .form-group {
        display: flex;
        flex-direction: column;
        
        label {
          margin-bottom: 0.5rem;
        }
        
        input[type='text'],
        select,
        textarea {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          
          &:focus {
            outline: none;
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }
        }
        
        input[type='file'] {
          border: none;
        }
        
        textarea {
          resize: vertical;
        }
      }
      
    }
  }
  