.container{
  display: flex;
  flex-direction: row;
}
.sidebar {
    flex: 0 0 200px;
    height: 100vh;
}
.eeg-upload-container {
    flex: 1;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
    .upload-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      .form-group {
        display: flex;
        flex-direction: column;
        
        label {
          margin-bottom: 0.5rem;
        }
        
        input[type='text'],
        select,
        textarea {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          
          &:focus {
            outline: none;
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }
        }
        
        input[type='file'] {
          border: none;
        }
        
        textarea {
          resize: vertical;
        }
      }
      
    }
  }
  