$bg: #313841;
$red: #F34541;
$black: #1D242B;
$green: #38B87C;
$blue: #2492FF;

.container {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
}

.sidebar {
  flex: 0 0 200px;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  width: 100%;
  padding: 0;
  align-items: baseline;
}

.left {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  width: 100%;
  padding: 0;
  align-items: baseline;
}

.header h1 {
  margin: 0; /* Elimina el margen predeterminado del h1 para un mejor control */
  font-size: 1.5rem; /* Ajusta el tama침o del texto si es necesario */
  align-items: baseline;
}

.patient-registration-container {
  flex: 1;
  padding: 20px;
  margin: 1rem 17rem auto; // Centrado en la p치gina
  width: calc(100% - 200px); // Ajuste para el ancho del sidebar
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  @media (max-width: 768px) {
    width: auto; // Ocupa el ancho completo en pantallas peque침as
    margin: 10px; // Margen reducido para pantallas peque침as
    max-width: none;
  }
  .tab-menu {
    .tab{
      padding: 0.5rem 1rem;
      margin-right: 0.5rem;
      background-color: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      font-size: medium;

      &.active {
        border-bottom: 3px solid #7353ba;
        color: #333;
      }

      &:hover {
        background-color:#bbbdf6;
      }
    }
  }

  .tab-content {
    background-color: #ebebfc;
    border-radius: 8px;
    padding: 1rem;
    // Further styles for tab content based on your design
  }

  .error{
    color: red;
  }

  .regresar, .registrar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    font-size: 1.5rem;
    background-color: transparent !important;
    margin: 0.5rem;
    cursor: pointer;
    margin-bottom: 20px;
  }
    .regresar {
      color: $bg !important;
      &:hover {
      background-color: $blue;
      color: white;
      .text { color: white; }
    }
  }
  .registrar {
    color: $bg !important;
    &:hover {
    background-color: $green;
    color: white;
    .text { color: white; }
  }
}
}
.addressB , .emailB, .phoneB{
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: $bg;
  border: none;
  border-radius: 5px;
      cursor: pointer;
      &:hover {
      background-color: $bg;
      color: white;
      }
}

label{
  color: #7353ba !important;
}

.respuesta, a{
  color: #666;
}

.seccion{
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
}

.form-section {
  margin-bottom: 20px;
  width: 90%;
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  select {
    padding: .625rem;
    margin-bottom: .625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
  }
  input[type="checkbox"] {
    margin-right: 1rem;
  }
  .disabled-option {
    color: #ccc;
  }
  select:disabled, option:disabled {
    color: #cccccc;
  }

  textarea {
    width: 90%;
    padding: .625rem;
    margin-bottom: .625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
