<div class="container">
  <app-menu-lateral></app-menu-lateral>
  <div class="patient-registration-container">
      <h1>Registrar nuevo paciente</h1>
      <button (click)="cancelButton()">Cancelar</button>
      <div class="tab-menu">
        <button class="tab" (click)="setActiveTab('infoPatient')" [class.active]="activeTab === 'infoPatient'">Información del paciente</button>
        <button class="tab" (click)="setActiveTab('contactPatient')" [class.active]="activeTab === 'contactPatient'">Contacto del paciente</button>
        <!-- <button class="tab" (click)="setActiveTab('historyPatient')" [class.active]="activeTab === 'historyPatient'">Informacion clinica</button> -->
        <button class="tab" (click)="setActiveTab('infoFamily')" [class.active]="activeTab === 'infoFamily'">Información del familiar</button>
        <button class="tab" (click)="setActiveTab('consent')" [class.active]="activeTab === 'consent'">Consentimiento</button>
      </div>
      <div class="tab-content">
        <!-- Información del paciente -->
        <div *ngIf="activeTab === 'infoPatient'">
          <!-- <form (ngSubmit)="onSubmit()" ngForm> -->
            <h2>Información del paciente</h2>
            <div class="form-section">              
              <label for="firstName">Nombre:</label>
              <input type="text" id="firstName" placeholder="Nombre"  name="firstName" [(ngModel)]="patient.nombre" required #firstName="ngModel">
              <div *ngIf="firstName.invalid && firstName.touched" class="error">
                El nombre es obligatorio.
                <br>
                <br>
              </div>
              
              <label for="lastName">Apellido paterno:</label>
              <input type="text" id="lastName" placeholder="Apellido paterno"  name="lastName" [(ngModel)]="patient.apellido_paterno" required #lastName="ngModel">
              <div *ngIf="lastName.invalid && lastName.touched" class="error">
                El apellido paterno es obligatorio.
                <br>
                <br>
              </div>
              
              <label for="surname">Apellido materno:</label>
              <input type="text" id="surname" placeholder="Apellido materno"  name="surname"[(ngModel)]="patient.apellido_materno" required #surname="ngModel">
              <div *ngIf="surname.invalid && surname.touched" class="error">
                El apellido materno es obligatorio.
                <br>
                <br>
              </div>
              
              <label for="birthDate">Fecha de nacimiento:</label>
              <input type="date" id="birthDate" name="birthDate" [(ngModel)]="patient.fecha_nacimiento" required #birthDate="ngModel">
              <div *ngIf="birthDate.invalid && birthDate.touched" class="error">
                La fecha de nacimiento es obligatoria.
                <br>
                <br>
              </div>
              
              <label for="gender">Género:</label>
              <div id="gender">
                <label>
                  <input type="radio" name="gender" value="1" [(ngModel)]="patient.id_genero"> Masculino
                </label>
                <label>
                  <input type="radio" name="gender" value="2" [(ngModel)]="patient.id_genero"> Femenino
                </label>
              </div>

              <label for="civilStatus">Estado civil:</label>
              <label>Estado civil:</label>
              <label>
                <input type="radio" name="civilStatus" value="1" [(ngModel)]="patient.id_estado_civil"> Soltero/a
              </label>
              <label>
                <input type="radio" name="civilStatus" value="2" [(ngModel)]="patient.id_estado_civil"> Casado/a
              </label>
              <label>
                <input type="radio" name="civilStatus" value="3" [(ngModel)]="patient.id_estado_civil"> Divorciado/a
              </label>
              <label>
                <input type="radio" name="civilStatus" value="4" [(ngModel)]="patient.id_estado_civil"> Viudo/a
              </label>
    
              <label for="laterality">Lateralidad:</label>
              <label>
                <input type="radio" name="laterality" value="1" [(ngModel)]="patient.id_lateralidad"> Zurdo
              </label>
              <label>
                <input type="radio" name="laterality" value="2" [(ngModel)]="patient.id_lateralidad"> Diestro
              </label>
              <label>
                <input type="radio" name="laterality" value="3" [(ngModel)]="patient.id_lateralidad"> Ambidiestro
              </label>
              
              <label for="educationLevel">Escolaridad:</label>
              <label>
                <input type="radio" name="educationLevel" value="1" [(ngModel)]="patient.id_escolaridad"> Primaria
              </label>
              <label>
                <input type="radio" name="educationLevel" value="2" [(ngModel)]="patient.id_escolaridad"> Secundaria
              </label>
              <label>
                <input type="radio" name="educationLevel" value="3" [(ngModel)]="patient.id_escolaridad"> Preparatoria
              </label>
              <label>
                <input type="radio" name="educationLevel" value="4" [(ngModel)]="patient.id_escolaridad"> Universidad
              </label>
              <label>
                <input type="radio" name="educationLevel" value="5" [(ngModel)]="patient.id_escolaridad"> Maestría
              </label>
              <label>
                <input type="radio" name="educationLevel" value="6" [(ngModel)]="patient.id_escolaridad"> Doctorado
              </label>

              <label for="occupation">Ocupación:</label>
              <label>
                <input type="radio" name="occupation" value="1" [(ngModel)]="patient.id_ocupacion"> Estudiante
              </label>
              <label>
                <input type="radio" name="occupation" value="2" [(ngModel)]="patient.id_ocupacion"> Empleado
              </label>
              <label>
                <input type="radio" name="occupation" value="3" [(ngModel)]="patient.id_ocupacion"> Empresario
              </label>
              <label>
                <input type="radio" name="occupation" value="4" [(ngModel)]="patient.id_ocupacion"> Independiente
              </label>
            </div>
            <button type="button" (click)="saveCurrentTabData()">Guardar</button>
          <!-- </form> -->
        </div>

          <!-- Contacto del paciente -->
          <div *ngIf="activeTab === 'contactPatient'">
            <!-- <form (ngSubmit)="onSubmit()" ngForm> -->
              <h2>Contacto del paciente</h2>
              <div class="form-section">
                <!-- Asume que se manejarán múltiples teléfonos -->
                <label for="phone">Teléfono celular:</label>
                <div *ngFor="let phone of patient.telefonos; let i = index">
                  <input type="text" [id]="'phone' + i" [name]="'phone' + i" placeholder="Telefono" [(ngModel)]="patient.telefonos[i].telefono">
                </div>
                <button type="button" (click)="addPhone()">Agregar teléfono</button>

                <!-- Asume que se manejarán múltiples correos electrónicos -->
                <label for="email">Correo electrónico:</label>
                <div *ngFor="let email of patient.correos_electronicos; let i = index">
                  <input type="email" [id]="'email' + i" [name]="'email' + i" placeholder="Correo electronico" [(ngModel)]="patient.correos_electronicos[i].correo_electronico">
                </div>
                <button type="button" (click)="addEmail()">Agregar correo electrónico</button>

                <!-- Asume que se manejarán múltiples direcciones -->
                <label for="address">Dirección:</label>
                <div *ngFor="let address of patient.direcciones; let i = index">
                  <label>
                    Calle y número:
                  </label>
                  <input type="text" [id]="'address' + i" [name]="'address' + i" placeholder="Calle y numero" [(ngModel)]="patient.direcciones[i].calle_numero">
                  <label>
                    Colonia:
                  </label>
                  <input type="text" [id]="'address' + i" [name]="'address' + i" placeholder="Colonia" [(ngModel)]="patient.direcciones[i].colonia">
                  <label>
                    Ciudad:
                  </label>
                  <input type="text" [id]="'address' + i" [name]="'address' + i" placeholder="ciudad" [(ngModel)]="patient.direcciones[i].ciudad">
                  <label>
                    Estado:
                  </label>
                  <input type="text" [id]="'address' + i" [name]="'address' + i" placeholder="Estado" [(ngModel)]="patient.direcciones[i].estado">
                  <label>
                    Código postal:
                  </label>
                  <input type="text" [id]="'address' + i" [name]="'address' + i" placeholder="Codigo Postal" [(ngModel)]="patient.direcciones[i].codigo_postal">
                  <label>
                    País:
                  </label>
                  <input type="text" [id]="'address' + i" [name]="'address' + i" placeholder="País" [(ngModel)]="patient.direcciones[i].pais">
                  <!-- Agrega campos adicionales por cada parte de la dirección según sea necesario -->
                </div>
                <button type="button" (click)="addAddress()">Agregar dirección</button>
              </div>
              <button type="button" (click)="saveCurrentTabData()">Guardar</button>
            <!-- </form> -->
          </div>


        <!-- Historial del paciente
        <div *ngIf="activeTab === 'historyPatient'">
          <form (ngSubmit)="onSubmit()" ngForm>
            <h2>Informacion clinica</h2>
            <div class="form-section">
              <label for="medicalHistory">Historial médico:</label>
              <textarea id="medicalHistory" name="medicalHistory"></textarea>
            </div>
            <button type="save">Guardar</button>
          </form>
        </div> -->

        <!-- Información del familiar -->
        <div *ngIf="activeTab === 'infoFamily'">
          <!-- <form (ngSubmit)="onSubmit()" ngForm> -->
            <h2>Contacto de emergencia</h2>
            <div class="form-section">
              <label for="relativeFirstName">Nombre(s):</label>
              <input type="text" id="relativeFirstName" placeholder="Nombre" name="relativeFirstName" [(ngModel)]="patient.contacto_emergencia.nombre" required #relativeFirstName="ngModel">
              <div *ngIf="relativeFirstName.invalid && relativeFirstName.touched" class="error">
                El nombre es obligatorio.
                <br>
                <br>
              </div>
              
              <label for="relativeLastName">Apellido paterno:</label>
              <input type="text" id="relativeLastName" placeholder="Apellido paterno" name="relativeLastName" [(ngModel)]="patient.contacto_emergencia.apellido_paterno" required #relativeLastName="ngModel">
              <div *ngIf="relativeFirstName.invalid && relativeFirstName.touched" class="error">
                El apellido paterno es obligatorio.
                <br>
                <br>
              </div>
              
              <label for="relativeSurname">Apellido materno:</label>
              <input type="text" id="relativeSurname" placeholder="Apellido materno" name="relativeSurname" [(ngModel)]="patient.contacto_emergencia.apellido_materno" required #relativeSurname="ngModel">
              <div *ngIf="relativeSurname.invalid && relativeSurname.touched" class="error">
                El apellido materno es obligatorio.
                <br>
                <br>
              </div>

              <label for="relationship">Parentesco:</label>
              <input type="text" id="relationship" placeholder="Parentesco" name="relationship" [(ngModel)]="patient.contacto_emergencia.parentesco" required #relationship="ngModel">
              <div *ngIf="relationship.invalid && relationship.touched" class="error">
                El parentesco es obligatorio.
                <br>
                <br>
              </div>

              <label for="relativePhone">Teléfono:</label>
              <input type="text" id="relativePhone" placeholder="Telefono" name="relativePhone" [(ngModel)]="patient.contacto_emergencia.telefono" required #relativePhone="ngModel">
              <div *ngIf="relativePhone.invalid && relativePhone.touched" class="error">
                El teléfono es obligatorio.
                <br>
                <br>
              </div>

              <label for="relativeEmail">Correo electrónico:</label>
              <input type="email" id="relativeEmail" placeholder="Correo electronico" name="relativeEmail" [(ngModel)]="patient.contacto_emergencia.correo_electronico" required #relativeEmail="ngModel">
              <div *ngIf="relativeEmail.invalid && relativeEmail.touched" class="error">
                El correo electrónico es obligatorio.
                <br>
                <br>
              </div>

              <label for="relativeAddress">Dirección:</label>
              <input type="text" id="relativeAddress" placeholder="Direccion" name="relativeAddress" [(ngModel)]="patient.contacto_emergencia.direccion" required #relativeAddress="ngModel">
              <div *ngIf="relativeAddress.invalid && relativeAddress.touched" class="error">
                La dirección es obligatoria.
                <br>
                <br>
              </div>

              <label for="relativeCity">Ciudad:</label>
              <input type="text" id="relativeCity" placeholder="Ciudad" name="relativeCity" [(ngModel)]="patient.contacto_emergencia.ciudad" required #relativeCity="ngModel">
              <div *ngIf="relativeCity.invalid && relativeCity.touched" class="error">
                La ciudad es obligatoria.
                <br>
                <br>
              </div>

              <label for="relativeState">Estado:</label>
              <input type="text" id="relativeState" placeholder="Estado" name="relativeState" [(ngModel)]="patient.contacto_emergencia.estado" required #relativeState="ngModel">
              <div *ngIf="relativeState.invalid && relativeState.touched" class="error">
                El estado es obligatorio.
                <br>
                <br>
              </div>

              <label for="relativeZipCode">Código postal:</label>
              <input type="text" id="relativeZipCode" placeholder="Codigo Pais" name="relativeZipCode" [(ngModel)]="patient.contacto_emergencia.codigo_postal" required #relativeZipCode="ngModel">
              <div *ngIf="relativeZipCode.invalid && relativeZipCode.touched" class="error">
                El código postal es obligatorio.
                <br>
                <br>
              </div>

              <label for="relativeCountry">Pais:</label>
              <input type="text" id="relativeCountry" placeholder="Pais" name="relativeCountry" [(ngModel)]="patient.contacto_emergencia.pais" required #relativeCountry="ngModel">
              <div *ngIf="relativeCountry.invalid && relativeCountry.touched" class="error">
                El país es obligatorio.
                <br>
                <br>
              </div>

              <label for="relativeNotes">Notas:</label>
              <textarea id="relativeNotes" name="notas_contacto_emergencia" [(ngModel)]="patient.contacto_emergencia.notas" required #relativeCountry="ngModel"></textarea>
            </div>
            <button type="button" (click)="saveCurrentTabData()">Guardar</button>
          <!-- </form> -->
        </div>

        <!-- Consentimiento del paciente -->
        <div *ngIf="activeTab === 'consent'">
          <!-- <form (ngSubmit)="onSubmit()" ngForm> -->
            <h2>Consentimiento del paciente</h2>
            <div class="form-section">
              <label>
                <input type="radio" name="consentimiento" value="1" [(ngModel)]="consentimientoTemporal.consentimiento"> Doy mi consentimiento para el tratamiento de mis datos personales.
              </label>
              <label>
                <input type="radio" name="consentimiento" value="0" [(ngModel)]="consentimientoTemporal.consentimiento"> No doy mi consentimiento para el tratamiento de mis datos personales.
              </label>
            </div>            
            <button type="button" (click)="registerPatient()">Registrar</button>
          <!-- </form> -->
        </div>
      </div>
    </div>
</div>