<div class="container">
  <app-menu-lateral></app-menu-lateral>
  <div class="patient-registration-container">
    <div class="header">
      <div class="left">
        <button (click)="cancelButton()" class="regresar" title="Regresar">
          <i class="fas fa-arrow-left" aria-hidden="true"></i>
        </button>
        <h1>Registrar nuevo paciente</h1>
      </div>
    </div>
      <div class="tab-menu">
        <button class="tab" (click)="setActiveTab('infoPatient')" [class.active]="activeTab === 'infoPatient'">Información del paciente</button>
        <button class="tab" (click)="setActiveTab('contactPatient')" [class.active]="activeTab === 'contactPatient'">Contacto del paciente</button>
        <button class="tab" (click)="setActiveTab('infoFamily')" [class.active]="activeTab === 'infoFamily'">Contacto de emergencia</button>
        <button class="tab" (click)="setActiveTab('consent')" [class.active]="activeTab === 'consent'">Consentimiento</button>
      </div>
  <div class="tab-content">
        <!-- Información del paciente -->
    <div *ngIf="activeTab === 'infoPatient'">
          <div class="seccion">
            <div class="form-section">
              <label for="firstName">Nombre:</label>
              <input type="text" id="firstName" placeholder="Juan"  name="firstName" [(ngModel)]="patient.nombre" required #firstName="ngModel">
              <div *ngIf="firstName.invalid && firstName.touched" class="error">
                El nombre es obligatorio.
                <br>
                <br>
              </div>
              <label for="lastName">Apellido paterno:</label>
              <input type="text" id="lastName" placeholder="Pérez"  name="lastName" [(ngModel)]="patient.apellido_paterno" required #lastName="ngModel">
              <div *ngIf="lastName.invalid && lastName.touched" class="error">
                El apellido paterno es obligatorio.
                <br>
                <br>
              </div>
              <label for="surname">Apellido materno:</label>
              <input type="text" id="surname" placeholder="López"  name="surname"[(ngModel)]="patient.apellido_materno" required #surname="ngModel">
              <div *ngIf="surname.invalid && surname.touched" class="error">
                El apellido materno es obligatorio.
                <br>
                <br>
              </div>
            </div>
          </div>
          <div class="seccion">
              <label for="birthDate">Fecha de nacimiento:</label>
              <br>
              <div id="birthDate">
              <input type="date" id="birthDate" name="birthDate" [(ngModel)]="patient.fecha_nacimiento" required #birthDate="ngModel">
              <div *ngIf="birthDate.invalid && birthDate.touched" class="error">
                La fecha de nacimiento es obligatoria.
              </div>
              </div>
              <br>
              <label for="gender">Género:</label>
              <br>
              <mat-radio-group aria-labelledby="gender" [(ngModel)]="patient.id_genero" name="gender">
                <mat-radio-button [value]="1">Masculino</mat-radio-button>
                <mat-radio-button [value]="2">Femenino</mat-radio-button>
              </mat-radio-group>
              <br>
          </div>
          <div class="seccion">
            <label for="civilStatus">Estado civil:</label>
            <br>
            <mat-radio-group aria-labelledby="civilStatus" [(ngModel)]="patient.id_estado_civil" name="civilStatus">
              <mat-radio-button [value]="1">Soltero/a</mat-radio-button>
              <mat-radio-button [value]="2">Casado/a</mat-radio-button>
              <mat-radio-button [value]="3">Divorciado/a</mat-radio-button>
              <mat-radio-button [value]="4">Viudo/a</mat-radio-button>
            </mat-radio-group>
              <br>
              <label for="laterality">Lateralidad:</label>
              <br>
              <mat-radio-group aria-labelledby="laterality" [(ngModel)]="patient.id_lateralidad" name="laterality">
                <mat-radio-button [value]="1">Zurdo/a</mat-radio-button>
                <mat-radio-button [value]="2">Diestro/a</mat-radio-button>
                <mat-radio-button [value]="3">Ambidiestro/a</mat-radio-button>
              </mat-radio-group>
              <br>
              <label for="educationLevel">Escolaridad:</label>
              <br>
              <mat-radio-group aria-label="Escolaridad" [(ngModel)]="patient.id_escolaridad" name="educationLevel">
                <mat-radio-button [value]="7">Sin estudios</mat-radio-button>
                <mat-radio-button [value]="1">Primaria</mat-radio-button>
                <mat-radio-button [value]="2">Secundaria</mat-radio-button>
                <mat-radio-button [value]="3">Preparatoria</mat-radio-button>
                <mat-radio-button [value]="4">Universidad</mat-radio-button>
                <mat-radio-button [value]="5">Maestría</mat-radio-button>
                <mat-radio-button [value]="6">Doctorado</mat-radio-button>
              </mat-radio-group>
              <br>
              <label for="occupation">Ocupación:</label>
              <br>
              <mat-radio-group aria-label="Ocupación" [(ngModel)]="patient.id_ocupacion" name="occupation">
                <mat-radio-button [value]="1">Estudiante</mat-radio-button>
                <mat-radio-button [value]="2">Empleado</mat-radio-button>
                <mat-radio-button [value]="3">Empresario</mat-radio-button>
                <mat-radio-button [value]="4">Independiente</mat-radio-button>
                <mat-radio-button [value]="5">Desempleado</mat-radio-button>
              </mat-radio-group>
              <br>
          </div>
          <div class="tab-navigation-buttons">
            <button class="acciones" (click)="changeTab('back')" disabled><i class="fas fa-arrow-left" aria-hidden="true"></i></button>
            <button (click)="cancelButton()" class="acciones" title="Cancelar">
              <i class="fas fa-times" aria-hidden="true"></i>
            </button>
            <button class="acciones" (click)="changeTab('next')" title="Siguiente"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
          </div>
  </div>
          <!-- Contacto del paciente -->
          <div *ngIf="activeTab === 'contactPatient'">
            <div class="form-section">
              <div class="seccion">
                <div *ngFor="let phone of patient.telefonos; let i = index" class="phone">
                  <label for="phone{{i}}">Teléfono {{ i === 0 ? 'Celular' : i === 1 ? 'Casa' : 'Trabajo'}}:</label>
                  <input type="text" id="phone{{i}}" name="phone{{i}}" placeholder="5551234567" [(ngModel)]="phone.telefono">
                </div>
                <div>
                  <button type="button" (click)="addPhone()" class="phoneB" title="Agregar otro número de telefono">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngFor="let email of patient.correos_electronicos; let i = index" class="email">
                  <label for="email{{i}}">Correo electrónico:</label>
                  <input type="email" id="email{{i}}" name="email{{i}}" placeholder="juan.perez@gmail.com" [(ngModel)]="email.correo_electronico">
                </div>
                <div>
                  <button type="button" (click)="addEmail()" class="emailB" title="Agregar otro email">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="seccion">
              <div *ngFor="let address of patient.direcciones; let i = index" class="address">
                <label for="postalCode{{i}}">Código postal:</label>
                <input type="text" id="postalCode{{i}}" name="postalCode{{i}}" [(ngModel)]="address.codigo_postal" placeholder="12345" (ngModelChange)="fillAddressData(i, 'patientAddress')">
                <label for="streetNumber{{i}}">Calle y número:</label>
                <input type="text" id="streetNumber{{i}}" name="streetNumber{{i}}" placeholder="Av. Siempre Viva 742" [(ngModel)]="address.calle_numero">
                <label for="suburb{{i}}">Colonia:</label>
                <input type="text" id="suburb{{i}}" name="suburb{{i}}" placeholder="Springfield" [(ngModel)]="address.colonia">
                <label for="city{{i}}">Ciudad:</label>
                <input type="text" id="city{{i}}" name="city{{i}}" placeholder="Springfield" [(ngModel)]="address.ciudad">
                <label for="state{{i}}">Estado:</label>
                <input type="text" id="state{{i}}" name="state{{i}}" placeholder="Springfield" [(ngModel)]="address.estado">
                <label for="country{{i}}">País:</label>
                <input type="text" id="country{{i}}" name="country{{i}}" placeholder="México" [(ngModel)]="address.pais">
              </div>
              <div>
                <button type="button" (click)="addAddress()" class="addressB" title="Agregar otra dirección">
                  <i class="fas fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              </div>
            </div>
            <div class="tab-navigation-buttons">
              <button class="acciones" (click)="changeTab('back')" title="Anterior"><i class="fas fa-arrow-left" aria-hidden="true"></i></button>
              <button (click)="cancelButton()" class="acciones" title="Cancelar">
                <i class="fas fa-times" aria-hidden="true"></i>
              </button>
              <button class="acciones" (click)="changeTab('next')" title="Siguiente"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
            </div>
          </div>
  <div *ngIf="activeTab === 'infoFamily'">
    <div class="form-section">
      <div class="seccion">
              <label for="relativeFirstName">Nombre(s):</label>
              <input type="text" id="relativeFirstName" placeholder="Marta" name="relativeFirstName" [(ngModel)]="patient.contacto_emergencia.nombre" required #relativeFirstName="ngModel">
              <div *ngIf="relativeFirstName.invalid && relativeFirstName.touched" class="error">
                El nombre es obligatorio.
                <br>
                <br>
              </div>
              <label for="relativeLastName">Apellido paterno:</label>
              <input type="text" id="relativeLastName" placeholder="Ramos" name="relativeLastName" [(ngModel)]="patient.contacto_emergencia.apellido_paterno" required #relativeLastName="ngModel">
              <div *ngIf="relativeFirstName.invalid && relativeFirstName.touched" class="error">
                El apellido paterno es obligatorio.
                <br>
                <br>
              </div>
              <label for="relativeSurname">Apellido materno:</label>
              <input type="text" id="relativeSurname" placeholder="Gómez" name="relativeSurname" [(ngModel)]="patient.contacto_emergencia.apellido_materno" required #relativeSurname="ngModel">
              <div *ngIf="relativeSurname.invalid && relativeSurname.touched" class="error">
                El apellido materno es obligatorio.
                <br>
                <br>
              </div>
              <label for="relationship">Parentesco:</label>
              <input type="text" id="relationship" placeholder="Madre" name="relationship" [(ngModel)]="patient.contacto_emergencia.parentesco" required #relationship="ngModel">
              <div *ngIf="relationship.invalid && relationship.touched" class="error">
                El parentesco es obligatorio.
                <br>
                <br>
              </div>
      </div>
      <div class="seccion">
              <label for="relativePhone">Teléfono:</label>
              <input type="text" id="relativePhone" placeholder="5559876543" name="relativePhone" [(ngModel)]="patient.contacto_emergencia.telefono" required #relativePhone="ngModel">
              <div *ngIf="relativePhone.invalid && relativePhone.touched" class="error">
                El teléfono es obligatorio.
                <br>
                <br>
              </div>
              <label for="relativeEmail">Correo electrónico:</label>
              <input type="email" id="relativeEmail" placeholder="marta.ramos@hotmail.com" name="relativeEmail" [(ngModel)]="patient.contacto_emergencia.correo_electronico" required #relativeEmail="ngModel">
              <div *ngIf="relativeEmail.invalid && relativeEmail.touched" class="error">
                El correo electrónico es obligatorio.
                <br>
                <br>
              </div>
      </div>
      <div class="seccion">
              <label for="relativeZipCode">Código postal:</label>
              <input type="text" id="relativeZipCode" placeholder="54321" name="relativeZipCode" [(ngModel)]="patient.contacto_emergencia.codigo_postal" (change)="fillAddressData(0, 'emergencyContact')" required #relativeZipCode="ngModel">
              <div *ngIf="relativeZipCode.invalid && relativeZipCode.touched" class="error">
                El código postal es obligatorio.
                <br>
                <br>
              </div>

              <label for="relativeAddress">Dirección:</label>
              <input type="text" id="relativeAddress" placeholder="Calle Falsa 123" name="relativeAddress" [(ngModel)]="patient.contacto_emergencia.direccion" required #relativeAddress="ngModel">
              <div *ngIf="relativeAddress.invalid && relativeAddress.touched" class="error">
                La dirección es obligatoria.
                <br>
                <br>
              </div>
              <label for="relativeSuburb">Colonia:</label>
              <input type="text" id="relativeSuburb" placeholder="Colonia Falsa" name="relativeSuburb" [(ngModel)]="patient.contacto_emergencia.colonia" required #relativeSuburb="ngModel">
              <div *ngIf="relativeSuburb.invalid && relativeSuburb.touched" class="error">
                La colonia es obligatoria.
                <br>
                <br>
              </div>
              <label for="relativeCity">Ciudad:</label>
              <input type="text" id="relativeCity" placeholder="Ciudad Falsa" name="relativeCity" [(ngModel)]="patient.contacto_emergencia.ciudad" required #relativeCity="ngModel">
              <div *ngIf="relativeCity.invalid && relativeCity.touched" class="error">
                La ciudad es obligatoria.
                <br>
                <br>
              </div>
              <label for="relativeState">Estado:</label>
              <input type="text" id="relativeState" placeholder="Estado Falso" name="relativeState" [(ngModel)]="patient.contacto_emergencia.estado" required #relativeState="ngModel">
              <div *ngIf="relativeState.invalid && relativeState.touched" class="error">
                El estado es obligatorio.
                <br>
                <br>
              </div>
              <label for="relativeCountry">Pais:</label>
              <input type="text" id="relativeCountry" placeholder="México" name="relativeCountry" [(ngModel)]="patient.contacto_emergencia.pais" required #relativeCountry="ngModel">
              <div *ngIf="relativeCountry.invalid && relativeCountry.touched" class="error">
                El país es obligatorio.
                <br>
                <br>
              </div>
        </div>
        <div class="seccion">
              <label for="relativeNotes">Notas:</label>
              <textarea id="relativeNotes" name="notas_contacto_emergencia" placeholder="Alergias a la penicilina" [(ngModel)]="patient.contacto_emergencia.notas" required #relativeCountry="ngModel"></textarea>
      </div>
    </div>
    <div class="tab-navigation-buttons">
      <button class="acciones" (click)="changeTab('back')" title="Anterior"><i class="fas fa-arrow-left" aria-hidden="true"></i></button>
      <button (click)="cancelButton()" class="acciones" title="Cancelar">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
      <button class="acciones" (click)="changeTab('next')" title="Siguiente"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <!-- Consentimiento del paciente -->
  <div *ngIf="activeTab === 'consent'">
    <div class="form-section">
      <div class="seccion">
              <div class="audio-recorder">
                <p>Doy mi autorización para utilizar mi información:</p>
                <br>
                <div class="botones-container">
                  <audio *ngIf="audioUrl" controls>
                    <source [src]="audioUrl" type="audio/mpeg">
                    Tu navegador no soporta la reproducción de audio.
                  </audio>
                  <button
                    type="button"
                    (click)="recording ? stopRecording() : startRecording()"
                    class="audio"
                    [ngClass]="{'recording': recording}"
                    title="{{recording ? 'Parar grabación' : 'Iniciar grabación'}}"
                  >
                    <i class="fas" [ngClass]="{'fa-stop-circle': recording, 'fa-play': !recording}" aria-hidden="true"></i>
                  </button>
                  <button
                    type="button"
                    (click)="resetRecording()"
                    [disabled]="!audioUrl"
                    class="audio reset"
                    title="Volver a grabar"
                  >
                    <i class="fas fa-refresh" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
      </div>
    </div>
      <div class="tab-navigation-buttons">
        <button class="acciones" (click)="changeTab('back')" title="Anterior"><i class="fas fa-arrow-left" aria-hidden="true"></i></button>
        <button type="button" (click)="registerPatient()" class="registrar" title="Registrar">
          <i class="icon fas fa-save" aria-hidden="true"></i>
        </button>
        <button (click)="cancelButton()" class="acciones" title="Cancelar">
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>
        <button class="acciones" (click)="changeTab('next')" disabled><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
      </div>
  </div>
</div>
</div>
</div>
<app-usuario></app-usuario>
